<template>
    <div class="2-7-column comp" draggable="true"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, maxWidth: val.maxWidth,
            maxHeight: val.maxHeight, position: val.position, top: val.top, left: val.left, bottom: val.bottom, right: val.right, display: val.display,
            paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
            paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom,
            marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontKerning: val.fontKerning, fontWeight: val.fontWeight, color: val.color, fontSize: val.fontSize, fontStyle: val.fontStyle,
            lineHeight: val.lineHeight, textIndent: val.textIndent, textAlign: val.textAlign, textDecoration: val.textDecoration,
            backgroundImage:'url(' + val.backgroundImage + ')', backgroundColor: val.backgroundColor, direction: val.direction,
            borderStyle: val.borderStyle, borderColor: val.borderColor, borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth,
            borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius, columnCount: val.columnCount,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }">
        <div class="row">
            <div class="col-md-3">
                <div :style="{minHeight: val.minHeight, borderStyle: val.borderStyle, borderColor: val.borderColor, borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth, height: '100%'}"
                    :class="over2 ? 'over' : ''" @dragover.prevent.stop="over2 = true" @dragleave.prevent.stop="over2 = false" @drop.prevent.stop="drop2($event)">
                    <component :is="val.type" :class="val.uuid === id ? 'comp-active': ''"
                        :val="val" :data-type="val.type" :data-uuid="val.uuid" v-for="(val, key) in widgetStore20"
                        :key="key">
                    </component>
                </div>
            </div>
            <div class="col-md-9">
                <div :style="{minHeight: val.minHeight, borderStyle: val.borderStyle, borderColor: val.borderColor, borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth, height: '100%'}"
                    :class="over7 ? 'over' : ''" @dragover.prevent.stop="over7 = true" @dragleave.prevent.stop="over7 = false" @drop.prevent.stop="drop7($event)">
                    <component :is="val.type" :class="val.uuid === id ? 'comp-active': ''"
                        :val="val" :data-type="val.type" :data-uuid="val.uuid" v-for="(val, key) in widgetStore70"
                        :key="key">
                    </component>
                </div>
            </div>
        </div>
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'two-seven-column-comp'
export default {
  name: comp,
  setting: {
    title: '2/7 Column',
    icon: 'Asset-2674x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    width: 'auto',
    height: 'auto',
    minWidth: '100px',
    minHeight: '200px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    color: '#000000',
    fontSize: '12px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    textTransform: 'lowercase',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '1px',
    borderRightWidth: '1px',
    borderBottomWidth: '1px',
    borderLeftWidth: '1px',
    borderTopLeftRadius: '5px',
    borderTopRightRadius: '5px',
    borderBottomLeftRadius: '5px',
    borderBottomRightRadius: '5px',
    borderStyle: 'solid',
    borderColor: '#cccccc',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    columnCount: 'auto',
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '200px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '12px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      textTransform: 'lowercase',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      columnCount: 'auto'
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '200px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '12px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      textTransform: 'lowercase',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      columnCount: 'auto'
    }
  },
  data () {
    return {
      over2: false,
      over7: false
    }
  },
  props: ['val'],
  computed: {
    widgetStore20 () {
      return this.$store.state.widgets.filter(i => i.parent === this.val.uuid && i.where === 'col-md-3-0')
    },
    widgetStore70 () {
      return this.$store.state.widgets.filter(i => i.parent === this.val.uuid && i.where === 'col-md-9-0')
    },
    id () {
      return this.$store.state.activeWidget.uuid
    }
  },
  methods: {
    drop2 (e) {
      this.over2 = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      } else {
        if (data.state) {
          if (data.data.uuid === this.val.uuid) return;
          this.$store.dispatch('updateWidget', { item: data.data, parent: this.val.uuid, where: 'col-md-3-0' })
        } else {
          this.$store.dispatch('addWidget', { item: data.data, parent: this.val.uuid, where: 'col-md-3-0', childItems: data.childItems})
        }
      }
    },
    drop7 (e) {
      this.over7 = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.state) {
        if (data.data.uuid === this.val.uuid) return;
        this.$store.dispatch('updateWidget', { item: data.data, parent: this.val.uuid, where: 'col-md-9-0' })
      } else {
        this.$store.dispatch('addWidget', { item: data.data, parent: this.val.uuid, where: 'col-md-9-0', childItems: data.childItems})
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
