<template>
    <div class="container comp"
    :style="{
        width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, maxWidth: val.maxWidth,
        maxHeight: val.maxHeight, position: val.position, top: val.top, left: val.left, bottom: val.bottom, right: val.right,
        display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
        paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom,
        marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow,
        fontFamily: val.fontFamily, fontWeight: val.fontWeight, fontKerning: val.fontKerning, fontStyle: val.fontStyle,
        color: val.color, fontSize: val.fontSize, lineHeight: val.lineHeight, textIndent: val.textIndent,
        textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
        backgroundColor: val.backgroundColor, direction: val.direction, borderStyle: val.borderStyle,
        borderColor: val.borderColor, borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth,
        borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth, borderTopLeftRadius: val.borderTopLeftRadius,
        borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
        borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow,
        textShadow: val.textShadow, transition: val.transition, transform: val.transform,
        opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform, columnCount: val.columnCount
    }" :class="{ over }" @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
      <component :is="val.type" :class="val.uuid === id ? 'comp-active': ''"
        :val="val" :data-type="val.type" :data-uuid="val.uuid" v-for="(val, key) in widgetStore"
        :key="key">
      </component>
      <tool-bar :id="val.uuid"></tool-bar>
  </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'container-comp'
export default {
  name: comp,
  setting: {
    title: 'Container',
    icon: 'Asset-2714x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    width: '85%',
    height: 'auto',
    minWidth: '100px',
    minHeight: '200px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: 'auto',
    marginBottom: '10px',
    marginLeft: 'auto',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontStyle: 'normal',
    fontKerning: 'normal',
    fontWeight: 500,
    color: '#000000',
    fontSize: '15px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    textTransform: 'lowercase',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '1px',
    borderRightWidth: '1px',
    borderBottomWidth: '1px',
    borderLeftWidth: '1px',
    borderTopLeftRadius: '5px',
    borderTopRightRadius: '5px',
    borderBottomLeftRadius: '5px',
    borderBottomRightRadius: '5px',
    borderStyle: 'solid',
    borderColor: '#cccccc',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    columnCount: 'auto',
    hoverStyle: {
      width: '85%',
      height: 'auto',
      minWidth: '100px',
      minHeight: '200px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: 'auto',
      marginBottom: '10px',
      marginLeft: 'auto',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontStyle: 'normal',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      textTransform: 'lowercase',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      columnCount: 'auto'
    },
    focusStyle: {
      width: '85%',
      height: 'auto',
      minWidth: '100px',
      minHeight: '200px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: 'auto',
      marginBottom: '10px',
      marginLeft: 'auto',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontStyle: 'normal',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      textTransform: 'lowercase',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      columnCount: 'auto'
    }
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  computed: {
    widgetStore () {
      return this.$store.state.widgets.filter(i => i.parent === this.val.uuid)
    },
    id () {
      return this.$store.state.activeWidget.uuid
    }
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      } else {
        if (data.state) {
          if (data.data.uuid === this.val.uuid) return;
          this.$store.dispatch('updateWidget', { item: data.data, parent: this.val.uuid, where: null })
        } else {
          this.$store.dispatch('addWidget', { item: data.data, parent: this.val.uuid, childItems: data.childItems})
        }
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>
</style>
