<template>
    <h1 class="heading comp" :id="val.uuid" v-if="val.headType === 1"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text" style="font-size: 2em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h1>
    <h2 class="heading comp" :id="val.uuid" v-else-if="val.headType === 2"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text" style="font-size: 1.5em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h2>
    <h3 class="heading comp" :id="val.uuid" v-else-if="val.headType === 3"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"  @drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text" style="font-size: 1.17em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h3>
    <h4 class="heading comp" :id="val.uuid" v-else-if="val.headType === 4"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text" style="font-size: 1em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h4>
    <h5 class="heading comp" :id="val.uuid" v-else-if="val.headType === 5"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text" style="font-size: .83em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h5>
    <h6 class="heading comp" :id="val.uuid" v-else-if="val.headType === 6"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, fontStyle: val.fontStyle,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, top: val.top, right: val.right, bottom: val.bottom,
            left: val.left, display: val.display, paddingTop: val.paddingTop, paddingRight: val.paddingRight,
            paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontKerning: val.fontKerning, color: val.color, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction,borderTopWidth: val.borderTopWidth,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow, columnCount: val.columnCount,
            transition: val.transition, transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" >
        <div v-html="val.text" style="font-size: .67em"></div>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </h6>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'heading-comp'
export default {
  name: comp,
  setting: {
    title: 'Heading',
    icon: 'Asset-2604x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    text: 'This is a Heading',
    width: 'auto',
    height: 'auto',
    minWidth: '100px',
    minHeight: 'auto',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '5px',
    marginRight: '10px',
    marginBottom: '5px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    color: '#000000',
    fontSize: '2em',
    fontStyle: 'normal',
    lineHeight: 1,
    textIndent: 0,
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '0px',
    borderRightWidth: '0px',
    borderBottomWidth: '0px',
    borderLeftWidth: '0px',
    borderStyle: 'solid',
    borderColor: '#cccccc',
    borderTopLeftRadius: '5px',
    borderTopRightRadius: '5px',
    borderBottomLeftRadius: '5px',
    borderBottomRightRadius: '5px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'text',
    zIndex: 0,
    textTransform: 'lowercase',
    headType: 1,
    columnCount: 'auto',
    hoverStyle: {
        width: 'auto',
        height: 'auto',
        minWidth: '100px',
        minHeight: 'auto',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '5px',
        marginRight: '10px',
        marginBottom: '5px',
        marginLeft: '10px',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: '',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '2em',
        fontStyle: 'normal',
        lineHeight: 1,
        textIndent: 0,
        textAlign: 'left',
        textDecoration: 'none',
        backgroundImage: '',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '0px',
        borderRightWidth: '0px',
        borderBottomWidth: '0px',
        borderLeftWidth: '0px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: '',
        transform: '',
        opacity: 1,
        cursor: 'text',
        zIndex: 0,
        textTransform: 'lowercase',
        headType: 1,
        columnCount: 'auto'
    },
    focusStyle: {
        width: 'auto',
        height: 'auto',
        minWidth: '100px',
        minHeight: 'auto',
        maxWidth: 'auto',
        maxHeight: 'auto',
        position: 'relative',
        top: 'auto',
        left: 'auto',
        bottom: 'auto',
        right: 'auto',
        display: 'block',
        paddingTop: '10px',
        paddingRight: '10px',
        paddingBottom: '10px',
        paddingLeft: '10px',
        marginTop: '5px',
        marginRight: '10px',
        marginBottom: '5px',
        marginLeft: '10px',
        float: 'none',
        clear: 'none',
        overflow: 'none',
        fontFamily: '',
        fontKerning: 'normal',
        fontWeight: 500,
        color: '#000000',
        fontSize: '2em',
        fontStyle: 'normal',
        lineHeight: 1,
        textIndent: 0,
        textAlign: 'left',
        textDecoration: 'none',
        backgroundImage: '',
        backgroundColor: '#ffffff',
        direction: 'ltr',
        borderTopWidth: '0px',
        borderRightWidth: '0px',
        borderBottomWidth: '0px',
        borderLeftWidth: '0px',
        borderStyle: 'solid',
        borderColor: '#cccccc',
        borderTopLeftRadius: '5px',
        borderTopRightRadius: '5px',
        borderBottomLeftRadius: '5px',
        borderBottomRightRadius: '5px',
        boxShadow: '0px 0px 0px 0px #cccccc',
        textShadow: '0px 0px 0px #cccccc',
        transition: '',
        transform: '',
        opacity: 1,
        cursor: 'text',
        zIndex: 0,
        textTransform: 'lowercase',
        headType: 1,
        columnCount: 'auto'
    }
  },
  data() {
    return {
     over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    },
    updateText(e) {
      let text = document.getElementById(this.val.uuid).querySelector('div').innerHTML
      this.$store.commit('updateData', {id: this.val.uuid, key: 'text', value: text})
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
