<template>
    <div v-if="uuid === activeWidget.uuid" contenteditable="false">
        <div class="toolbar" v-if="section === 1">
          <button draggable="true" @dragstart="widgetMove($event)" class="tooltip"><i class="fas fa-arrows-alt"></i>
            <div class="toolbar-tooltip">
              <div>Move</div>
            </div>
          </button>
          <button draggable="true" @dragstart="widgetSort($event)" class="tooltip"><i class="fas fa-layer-group"></i>
            <div class="toolbar-tooltip">
              <div>Sort</div>
            </div>
          </button>
          <button @click="openDrop = !openDrop" class="tooltip"><i class="fas fa-list-alt"></i>
            <ul class="toolbar-dropdown" v-if="openDrop">
              <li v-for="(i, j) in 6" :key="j" @click.stop="$store.state.activeWidget.headType = j + 1">H{{j + 1}}</li>
            </ul>
          </button>
          <button @click="headBold()"><i class="fas fa-bold"></i></button>
          <button @click="headItalic()"><i class="fas fa-italic"></i></button>
          <button @click="toLink()"><i class="fa fa-link"></i></button>
          <button @click="widgetClone()" class="tooltip"><i class="fa fa-clone"></i>
            <div class="toolbar-tooltip">
              <div>Clone</div>
            </div>
          </button>
          <button @click="widgetRemove()" class="tooltip"><i class="fa fa-trash"></i>
            <div class="toolbar-tooltip">
              <div>Delete</div>
            </div>
          </button>
        </div>
        <div class="toolbar link" v-else-if="section === 2">
          <input type="text" placeholder="http://" v-model="href"/>
          <button @click="headLink()">Done</button>
        </div>
      </div>
</template>

<script>
export default {
  data() {
    return {
      section: 1,
      openDrop: 0,
      href: "http://",
      selection: ''
    }
  },
  props: ['uuid'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = {data: this.activeWidget, state: 1, isSort: 1}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    headBold() {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', 'You didn\'t select text')
      } else {
        document.execCommand('bold');
        this.$parent.updateText()
      }
    },
    headItalic() {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', 'You didn\'t select text')
      } else {
        document.execCommand('italic');
        this.$parent.updateText()
      }
    },
    toLink() {
      let selection = window.getSelection().toString()
      if (selection === '') {
        this.$toastr.error('Warnning', 'You didn\'t select text')
      } else {
         this.selection = window.getSelection().rangeCount > 0 ? window.getSelection().getRangeAt(0) : false;
        this.section = 2
      }
    },
    headLink() {
      let link = this.href
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(this.selection);
      document.execCommand('createLink', true, link);
      this.$parent.updateText()
      this.section = 1
    }
  }
}
</script>

<style scoped>
.toolbar-dropdown{
  position: absolute;
  top: 30px;
  left: 0;
  min-width: max-content;
  min-height: 100px;
  overflow: auto;
  background-color: #335ad4;
  padding: 0;
  animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}
.toolbar-dropdown > li{
  list-style-type: none;
  border-bottom: 1px solid #ffffff;
  padding: 5px 8px;
}
.toolbar-dropdown > li:hover{
  background-color: #23379b;
  border-bottom: 1px solid #335ad4
}
</style>
