<template>
    <div class="toolbar" v-if="id === activeWidget.uuid">
        <button draggable="true" @dragstart="widgetMove($event)" class="tooltip"><i class="fas fa-arrows-alt"></i>
          <div class="toolbar-tooltip">
            <div>Move</div>
          </div>
        </button>
        <button draggable="true" @dragstart="widgetSort($event)" class="tooltip"><i class="fas fa-layer-group"></i>
          <div class="toolbar-tooltip">
            <div>Sort</div>
          </div>
        </button>
        <button @click="widgetClone()" class="tooltip"><i class="fa fa-clone"></i>
          <div class="toolbar-tooltip">
            <div>Clone</div>
          </div>
        </button>
        <button @click="widgetRemove()" class="tooltip"><i class="fa fa-trash"></i>
          <div class="toolbar-tooltip">
            <div>Delete</div>
          </div>
        </button>
    </div>
</template>