<template>
    <div class="text-block comp"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position,
            top: val.top, left: val.left, bottom: val.bottom, right: val.right, display: val.display,
            paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
            paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft, fontKerning: val.fontKerning,
            float: val.float, clear: val.clear, overflow: val.overflow, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontColor: val.fontColor, fontSize: val.fontSize,
            lineHeight: val.lineHeight, textIndent: val.textIndent, textAlign: val.textAlign,
            textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction, fontStyle: val.fontStyle,
            borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth,
            borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderTopLeftRadius: val.borderTopLeftRadius, borderTopRightRadius: val.borderTopRightRadius,
            borderBottomLeftRadius: val.borderBottomLeftRadius, borderBottomRightRadius: val.borderBottomRightRadius,
            boxShadow: val.boxShadow, textShadow: val.textShadow, transition: val.transition, columnCount: val.columnCount,
            transform: val.transform, opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" contenteditable="true" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'text-block-comp'
export default {
  name: comp,
  setting: {
    title: 'Text Block',
    icon: 'Asset-2624x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    width: 'auto',
    height: 'auto',
    minWidth: '100px',
    minHeight: '100px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    color: '#000000',
    fontSize: '1px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#000000',
    direction: 'ltr',
    borderTopWidth: '1px',
    borderRightWidth: '1px',
    borderBottomWidth: '1px',
    borderLeftWidth: '1px',
    borderStyle: 'solid',
    borderColor: '#000000',
    borderTopLeftRadius: '1px',
    borderTopRightRadius: '1px',
    borderBottomLeftRadius: '1px',
    borderBottomRightRadius: '1px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '100px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '1px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#000000',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#000000',
      borderTopLeftRadius: '1px',
      borderTopRightRadius: '1px',
      borderBottomLeftRadius: '1px',
      borderBottomRightRadius: '1px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '100px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '1px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#000000',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#000000',
      borderTopLeftRadius: '1px',
      borderTopRightRadius: '1px',
      borderBottomLeftRadius: '1px',
      borderBottomRightRadius: '1px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    }
  },
  data() {
    return {
      over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
