<template>
    <div class="check-mark comp" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
        <input type="checkbox" :name="val.name" :style="{
            width: val.width, height: val.width, minWidth: val.minWidth, minHeight: val.minHeight, maxWidth: val.maxWidth,
            maxHeight: val.maxHeight, position: val.position, top: val.top,left: val.left, bottom: val.bottom, right: val.right,
            display: val.display,  paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
            paddingLeft: val.paddingLeft,  marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom,
            marginLeft: val.marginLeft, float: val.float, clear: val.clear, overflow: val.overflow, fontKerning: val.fontKerning,
            fontFamily: val.fontFamily, fontWeight: val.fontWeight, fontColor: val.fontColor, fontStyle: val.fontStyle,
            fontSize: val.fontSize, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction, borderTopWidth: val.borderTopWidth,
            borderStyle: val.borderStyle, borderColor: val.borderColor,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderTopLeftRadius: val.borderTopLeftRadius, borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, textShadow: val.textShadow,
            transition: val.transition, transform: val.transform, opacity: val.opacity, columnCount: val.columnCount,
            cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }"/>
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'check-mark-comp'
export default {
  name: comp,
  setting: {
    title: 'Check Mark',
    icon: 'Asset-2444x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    name: 'checkbox',
    width: 'auto',
    height: 'auto',
    minWidth: '15px',
    minHeight: '15px',
    maxWidth: '100%',
    maxHeight: '100%',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'inline-block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    fontStyle: 'normal',
    color: '#000000',
    fontSize: '15px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '0px',
    borderRightWidth: '0px',
    borderBottomWidth: '0px',
    borderLeftWidth: '0px',
    borderStyle: 'solid',
    borderColor: '#000000',
    borderTopLeftRadius: '5px',
    borderTopRightRadius: '5px',
    borderBottomLeftRadius: '5px',
    borderBottomRightRadius: '5px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '15px',
      minHeight: '15px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#000000',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '15px',
      minHeight: '15px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#000000',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    }
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
