<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Background</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab === 3" :class="tab === 3 ? 'accordion-open' : 'accordion-close'">
            <div class="tool-tab-menu">
                <div class="tool-bar-contains">
                    <div class="tool-contents">
                        <div class="w-clearfix">
                            <div class="toole-tab-title">Image &amp; Gradient:</div>
                            <div class="layout-edits w-clearfix">
                                <a href="#" class="set-display-cordination font-bnt-style w-inline-block">
                                    <img src="@/assets/images/Asset-624x.png" width="14">
                                    <div class="button-description">
                                        <div>Soild Color</div>
                                    </div>
                                </a>
                                <a href="#" class="set-display-cordination font-bnt-style w-inline-block" @click="gradientModal = 1">
                                    <img src="@/assets/images/Asset-614x.png" width="14">
                                    <div class="button-description">
                                        <div>Gradient</div>
                                    </div>
                                </a>
                                <a href="#" class="set-display-cordination w-inline-block" @click="colorModal = 1">
                                    <img src="@/assets/images/Asset-604x.png" width="14">
                                    <div class="button-description">
                                        <div>Image</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="w-form">
                            <input type="text" class="tool-bar-field1 w-input" maxlength="256" name="Currently-None" data-name="Currently-None" placeholder="None" id="Currently-None">
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="tool-contents w-clearfix">
                        <div class="toole-tab-title">Color</div>
                        <div class="w-form">
                            <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256" v-model="$store.state.activeWidget.backgroundColor" data-name="Color 2" placeholder="#257bd8" id="color-2">
                            <div class="color-picker"><input type="color" v-model="$store.state.activeWidget.backgroundColor"/></div>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="background-picker-modal" v-if="colorModal">
                        <div class="picker-header w-clearfix">
                            <div class="left">Background Image</div>
                            <a href="#" class="picker-close w-inline-block" @click="colorModal = 0">
                                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                            </a>
                        </div>
                        <div>
                            <div class="style-title">Image</div>
                            <div class="picker-image-container">
                                <a href="#" class="picker-browse-image w-inline-block">
                                    <img src="@/assets/images/Asset-604x.png" width="12">
                                    <div class="upload-text">Uploadassets/ge</div>
                                </a>
                                <div class="w-row">
                                    <div class="w-col w-col-4"><img src="@/assets/images/Asset-774x.png" sizes="100vw"></div>
                                    <div class="w-col w-col-8">
                                        <div class="pic-example-text">MyPictureexample.jpg</div>
                                        <div class="icon-identifier">
                                            <img src="@/assets/images/Asset-634x.png" width="10" class="icon-sm">
                                            <div class="icon-text">309 KB</div>
                                        </div>
                                        <div class="icon-identifier">
                                            <img src="@/assets/images/Asset-644x_1Asset-644x.png" width="10" class="icon-sm">
                                            <div class="icon-text">250 x 250</div>
                                        </div>
                                        <div class="w-form">
                                            <div class="w-checkbox">
                                                <input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="w-checkbox-input">
                                                <label for="checkbox-3" class="w-form-label">HiDPI</label>
                                            </div>
                                            <div class="w-form-done">
                                                <div>Thank you! Your submission has been received!</div>
                                            </div>
                                            <div class="w-form-fail">
                                                <div>Oops! Something went wrong while submitting the form.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="style-title">Size</div>
                            <div class="picker-image-container">
                                <div>
                                    <div class="w-row">
                                        <div class="col w-col w-col-6">
                                            <div class="layout-properties">
                                                <div class="layout-form-assets w-form">
                                                    <div class="layout-asset-input">
                                                        <div class="text-block-12">Width</div>
                                                        <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                    </div>
                                                    <div class="layout-asset-input">
                                                        <div class="text-block-12">Height</div>
                                                        <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                    </div>
                                                    <div class="w-form-done">
                                                        <div>Thank you! Your submission has been
                                                            received!
                                                        </div>
                                                    </div>
                                                    <div class="w-form-fail">
                                                        <div>Oops! Something went wrong while submitting
                                                            the form.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col w-col w-col-6">
                                            <div class="layout-properties">
                                                <div class="layout-form-assets w-form">
                                                    <div class="layout-asset-input w-clearfix">
                                                        <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-794x.png" width="23">
                                                        <div class="button-description">
                                                            <div>Cover</div>
                                                        </div>
                                                        </a>
                                                        <div class="tool-instructions">Cover</div>
                                                    </div>
                                                    <div class="layout-asset-input w-clearfix">
                                                        <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-784x.png" width="23">
                                                        <div class="button-description">
                                                            <div>Contain</div>
                                                        </div>
                                                        </a>
                                                        <div class="tool-instructions">Contain</div>
                                                    </div>
                                                    <div class="w-form-done">
                                                        <div>Thank you! Your submission has been received!</div>
                                                    </div>
                                                    <div class="w-form-fail">
                                                        <div>Oops! Something went wrong while submitting the form.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="style-title">Position</div>
                            <div class="picker-image-container">
                            <div>
                                <div class="w-row">
                                    <div class="col w-col w-col-6">
                                        <div class="text-block-12">Adjust</div>
                                        <div class="layout-properties">
                                            <div class="layout-form-assets w-form">
                                                <div class="layout-asset-input">
                                                    <div class="text-block-12">Right</div>
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                                <div class="layout-asset-input">
                                                    <div class="text-block-12">Left</div>
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                                <div class="w-form-done">
                                                    <div>Thank you! Your submission has been
                                                        received!
                                                    </div>
                                                </div>
                                                <div class="w-form-fail">
                                                    <div>Oops! Something went wrong while submitting
                                                        the form.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-6">
                                        <div class="text-block-12 long-title">Presets</div>
                                        <div class="w-row">
                                            <div class="w-clearfix w-col w-col-4">
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-704x.png" width="13">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                                                </a>
                                            </div>
                                            <div class="w-clearfix w-col w-col-4">
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-804x.png" width="10">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-624x.png" width="10">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-764x.png" width="10">
                                                </a>
                                            </div>
                                            <div class="w-clearfix w-col w-col-4">
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-714x.png" width="13">
                                                </a>
                                                <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="style-title">Display</div>
                            <div class="picker-image-container">
                                <div class="div-block-8 w-clearfix">
                                    <div class="toole-tab-title">Tile</div>
                                    <div class="layout-edits w-clearfix">
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                                            <div class="button-description">
                                                <div>None</div>
                                            </div>
                                        </a>
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-684x.png" width="14">
                                            <div class="button-description">
                                                <div>Horizontal</div>
                                            </div>
                                        </a>
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-674x.png" width="4">
                                            <div class="button-description">
                                                <div>CVerticler</div>
                                            </div>
                                        </a>
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-694x.png" width="14">
                                            <div class="button-description">
                                                <div>Directional</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="div-block-8 w-clearfix">
                                    <div class="toole-tab-title">Fixed</div>
                                    <div class="layout-edits w-clearfix">
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                                            <div class="button-description">
                                                <div>Not Fixed</div>
                                            </div>
                                        </a>
                                        <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                            <img src="@/assets/images/Asset-664x.png" width="14">
                                            <div class="button-description">
                                                <div>Fixed</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="graident-modal-popup" v-if="gradientModal">
                        <div class="picker-header w-clearfix">
                            <div class="left">Graident Background</div>
                            <a href="#" class="picker-close w-inline-block" @click="gradientModal = 0">
                                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                            </a>
                        </div>
                        <div>
                            <div class="style-title">Customize</div>
                            <div class="picker-image-container">
                                <div class="w-row">
                                    <div class="w-col w-col-6">
                                        <a href="#" class="picker-browse-image w-inline-block" @click="gradType(0)">
                                            <div class="upload-text">Linear</div>
                                        </a>
                                    </div>
                                    <div class="w-col w-col-6">
                                        <a href="#" class="picker-browse-image w-inline-block" @click="gradType(1)">
                                            <div class="upload-text">Radial</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="w-clearfix">
                                    <div class="layout-properties">
                                        <div class="layout-form-assets w-form">
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Angle</div>
                                                <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" :value="activeWidget.backAngle" @input="backAngle($event)" data-name="Class 2" placeholder="deg" id="Class-2">
                                            </div>
                                            <div class="w-form-done">
                                                <div>Thank you! Your submission has been received!</div>
                                                </div>
                                                <div class="w-form-fail">
                                                <div>Oops! Something went wrong while submitting the
                                                    form.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gradient-picker"></div>
                                    <div class="gradient-picker1 right">
                                        <div class="gradient-picker-arrow">
                                            <input type="color" :value="activeWidget.fromBackColor" @change="fromBackColor($event)"/>
                                        </div>
                                    </div>
                                    <div class="gradient-picker1">
                                        <div class="gradient-picker-arrow">
                                            <input type="color" :value="activeWidget.toBackColor" @change="toBackColor($event)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data() {
      return {
          colorModal: 0,
          gradientModal: 0,
      }
  },
  props: ['tab'],
  computed: {
      activeWidget() {
        return  this.$store.state.activeWidget
      }
  },
  methods: {
    closeTab () {
      let i = this.tab === 3 ? 0 : 3
      this.$emit('closeTab', i)
    },
    gradType(i) {
        this.$store.state.activeWidget.gradientType = i
        this.setGradient()
    },
    backAngle(e) {
        this.$store.state.activeWidget.backAngle = e.target.value
        this.setGradient()
    },
    fromBackColor(e) {
        this.$store.state.activeWidget.fromBackColor = e.target.value
        this.setGradient()
    },
    toBackColor(e) {
        this.$store.state.activeWidget.toBackColor = e.target.value
        this.setGradient()
    },
    setGradient() {
        let gradient = ''
        if (this.activeWidget.gradientType) {
            gradient = 'radial-gradient(' + this.activeWidget.fromBackColor + ', ' + this.activeWidget.toBackColor + ')'
        } else {
            gradient = 'linear-gradient(' + this.activeWidget.backAngle + 'deg, ' + this.activeWidget.fromBackColor + ', ' + this.activeWidget.toBackColor + ')'
        }
        console.log(gradient)
        this.$store.state.activeWidget.backgroundImage = gradient 
    }
  }
}
</script>
