<template>
 <div>
   <div class="accordion-header js-accordion-header" @click="closeTab()">
      <h5 class="tool-tab-text">Border Effects</h5>
   </div>
   <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab === 4" :class="tab === 4 ? 'accordion-open' : 'accordion-close'">
      <div class="tool-tab-menu">
         <div class="tool-bar-contains">
            <div class="tool-contents">
               <div>
                  <div class="w-row">
                     <div class="w-col w-col-5">
                        <div class="no-space-row move-more w-row">
                           <div class="w-col w-col-4"></div>
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="borderState = 'top'" class="set-display-cordination font-bnt-style w-inline-block" :class="borderState === 'top' ? 'set-display-cordination-active' : ''">
                                <img src="@/assets/images/Asset-1244x.png" width="14"></a>
                            </div>
                           <div class="w-col w-col-4"></div>
                        </div>
                        <div class="no-space-row w-row">
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="borderState = 'left'" class="set-display-cordination font-bnt-style w-inline-block" :class="borderState === 'left' ? 'set-display-cordination-active' : ''">
                                   <img src="@/assets/images/Asset-1224x.png" width="14">
                                </a>
                            </div>
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="borderState = 'all'" class="set-display-cordination font-bnt-style w-inline-block" :class="borderState === 'all' ? 'set-display-cordination-active' : ''">
                                   <img src="@/assets/images/Asset-1174x.png" width="14">
                                </a>
                            </div>
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="borderState = 'right'" class="set-display-cordination font-bnt-style w-inline-block" :class="borderState === 'right' ? 'set-display-cordination-active' : ''">
                                   <img src="@/assets/images/Asset-1234x.png" width="14">
                                </a>
                            </div>
                        </div>
                        <div class="w-row">
                           <div class="w-col w-col-4"></div>
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="borderState = 'bottom'" class="set-display-cordination font-bnt-style w-inline-block" :class="borderState === 'bottom' ? 'set-display-cordination-active' : ''">
                                   <img src="@/assets/images/Asset-1214x.png" width="14">
                                </a>
                            </div>
                           <div class="w-col w-col-4"></div>
                        </div>
                     </div>
                     <div class="no-space w-col w-col-7">
                        <div class="w-clearfix">
                           <div class="layout-edits w-clearfix">
                              <a @click="$store.state.activeWidget.borderStyle = 'none'" class="set-display-cordination w-inline-block">
                                 <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                                 <div class="button-description"><div>None</div></div>
                              </a>
                              <a @click="$store.state.activeWidget.borderStyle = 'dotted'" class="set-display-cordination font-bnt-style w-inline-block">
                                 <img src="@/assets/images/Asset-824x.png" width="2" height="14">
                                 <div class="button-description"><div>Dotted</div></div>
                              </a>
                              <a @click="$store.state.activeWidget.borderStyle = 'dashed'" class="set-display-cordination font-bnt-style w-inline-block">
                                 <img src="@/assets/images/Asset-884x.png" width="3" height="14">
                                 <div class="button-description"><div>Dashed</div></div>
                              </a>
                              <a @click="$store.state.activeWidget.borderStyle = 'solid'" class="set-display-cordination left-align w-inline-block">
                                 <img src="@/assets/images/Asset-814x.png" width="3" height="14">
                                 <div class="button-description"><div>Soild</div></div>
                              </a>
                           </div>
                        </div>
                        <div class="layout-form-assets w-form">
                           <div class="layout-asset-input">
                              <div class="text-block-12">Width</div>
                              <input type="text" @input="borderWidth($event)" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                           </div>
                           <div class="w-clearfix">
                              <input type="text" v-model="$store.state.activeWidget.borderColor" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2" data-name="Color 2" placeholder="#257bd8" id="color-2">
                              <input type="color" class="color-picker" v-model="$store.state.activeWidget.borderColor"/>
                           </div>
                           <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                           <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="tool-bar-contains">
            <div class="tool-contents">
               <div>
                  <div class="w-row">
                     <div class="w-col w-col-5">
                        <div class="w-row">
                           <div class="w-clearfix w-col w-col-4">
                              <a @click="radiusState = 'borderTopLeft'" class="set-display-cordination font-bnt-style w-inline-block" :class="radiusState === 'borderTopLeft' ? 'set-display-cordination-active' : ''">
                                 <img src="@/assets/images/Asset-1184x.png" width="14">
                              </a>
                           </div>
                           <div class="w-col w-col-4"></div>
                           <div class="w-clearfix w-col w-col-4">
                               <a @click="radiusState = 'borderTopRight'" class="set-display-cordination font-bnt-style w-inline-block" :class="radiusState === 'borderTopRight' ? 'set-display-cordination-active' : ''">
                                   <img src="@/assets/images/Asset-1164x.png" width="14">
                                </a>
                            </div>
                        </div>
                        <div class="w-row">
                           <div class="w-clearfix w-col w-col-4"><a @click="radiusState = 'borderBottomLeft'" class="set-display-cordination font-bnt-style w-inline-block" :class="radiusState === 'borderBottomLeft' ? 'set-display-cordination-active' : ''"><img src="@/assets/images/Asset-1204x.png" width="14"></a></div>
                           <div class="w-clearfix w-col w-col-4"><a @click="radiusState = 'borderAll'" class="set-display-cordination font-bnt-style inner-row-style-bnt-move-up w-inline-block" :class="radiusState === 'borderAll' ? 'set-display-cordination-active' : ''"><img src="@/assets/images/Asset-1154x.png" width="14"></a></div>
                           <div class="w-clearfix w-col w-col-4"><a @click="radiusState = 'borderBottomRight'" class="set-display-cordination font-bnt-style w-inline-block" :class="radiusState === 'borderBottomRight' ? 'set-display-cordination-active' : ''"><img src="@/assets/images/Asset-1194x.png" width="14"></a></div>
                        </div>
                     </div>
                     <div class="no-space w-col w-col-7">
                        <div class="layout-form-assets w-form">
                           <div class="layout-asset-input">
                              <div class="text-block-12">Radius</div>
                              <input type="text" @input="borderRadius($event)" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                           </div>
                           <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                           <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      borderState: 'all',
      radiusState: 'borderAll'
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 4 ? 0 : 4
      this.$emit('closeTab', i)
    },
    borderWidth (e) {
      if (this.borderState === 'top') {
        this.$store.state.activeWidget.borderTopWidth = e.target.value
      } else if (this.borderState === 'right') {
        this.$store.state.activeWidget.borderRightWidth = e.target.value
      } else if (this.borderState === 'bottom') {
        this.$store.state.activeWidget.borderBottomWidth = e.target.value
      } else if (this.borderState === 'left') {
        this.$store.state.activeWidget.borderLeftWidth = e.target.value
      } else {
        this.$store.state.activeWidget.borderTopWidth = this.$store.state.activeWidget.borderRightWidth = this.$store.state.activeWidget.borderBottomWidth = this.$store.state.activeWidget.borderLeftWidth = e.target.value
      }
    },
    borderRadius (e) {
      if (this.radiusState === 'borderTopLeft') {
         console.log('b')
        this.$store.state.activeWidget.borderTopLeft = e.target.value
      } else if (this.radiusState === 'borderTopRight') {
        this.$store.state.activeWidget.borderTopRight = e.target.value
      } else if (this.radiusState === 'borderBottomLeft') {
        this.$store.state.activeWidget.borderBottomLeft = e.target.value
      } else if (this.radiusState === 'borderBottomRight') {
        this.$store.state.activeWidget.borderBottomRight = e.target.value
      } else {
        this.$store.state.activeWidget.borderBottomRightRadius = this.$store.state.activeWidget.borderBottomLeftRadius = this.$store.state.activeWidget.borderTopRightRadius = this.$store.state.activeWidget.borderTopLeftRadius = e.target.value
      }
    }
  }
}
</script>
