<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Effects</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" style="overflow: -webkit-paged-y;" v-if="tab === 7" :class="tab === 7 ? 'accordion-open' : 'accordion-close'">
            <div class="tool-tab-menu last">
            <div class="tool-bar-contains">
                <div class="tool-bar-contains">
                    <div class="font-options">
                        <div class="w-row">
                        <div class="col w-col w-col-6">
                            <div class="layout-properties">
                                <div class="layout-form-assets w-form">
                                    <div class="layout-asset-input">
                                        <div class="text-block-12">Opacity</div>
                                        <input type="text" v-model="$store.state.activeWidget.opacity" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                    </div>
                                    <div class="layout-asset-input">
                                        <div class="text-block-12">Tilt Y</div>
                                        <input type="text" @input="rotate(1, $event)" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="deg" id="Class-2">
                                    </div>
                                    <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                    <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                </div>
                            </div>
                        </div>
                        <div class="col w-col w-col-6">
                            <div class="layout-properties">
                                <div class="layout-form-assets w-form">
                                    <div class="layout-asset-input">
                                        <div class="text-block-12">Tilt X</div>
                                        <input type="text" @input="rotate(0, $event)" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="deg" id="Class-2">
                                    </div>
                                    <div class="layout-asset-input">
                                        <div class="text-block-12">Tilt Z</div>
                                        <input type="text" @input="rotate(2, $event)" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="deg" id="Class-2">
                                    </div>
                                    <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                    <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="tool-contents w-clearfix" style="position: relative; z-index: 1">
                        <div class="toole-tab-title">Effect</div>
                        <div data-delay="0" class="text-dropdown w-dropdown">
                        <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="openBackground = !openBackground">
                            <div class="tool-tip"><img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6"></div>
                            <div class="drop-state-down">Black and White</div>
                        </div>
                        <nav class="dropdown-list-3 w-dropdown-list" v-if="openBackground">
                            <a @click="setBackground('black')" class="drop-link inlay-state-link w-dropdown-link">Black</a>
                            <a @click="setBackground('white')" class="drop-link inlay-state-link w-dropdown-link">White</a>
                            <a @click="setBackground('transparent')" class="drop-link inlay-state-link w-dropdown-link">Transprent</a>
                        </nav>
                        </div>
                    </div>
                    <div class="tool-contents w-clearfix" style="position: relative; z-index: 0">
                        <div class="toole-tab-title">Cursor</div>
                        <div data-delay="0" class="text-dropdown w-dropdown">
                        <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="openCursor = !openCursor">
                            <div class="tool-tip"><img src="@/assets/images/tooltip_1tooltip.png"
                                width="8" height="6"></div>
                            <div class="drop-state-down">{{$store.state.activeWidget.cursor}}</div>
                        </div>
                        <nav class="dropdown-list-3 w-dropdown-list" v-if="openCursor">
                            <a @click="setCursor(cursor)" v-for="(cursor, i) in cursors" :key="i" class="drop-link inlay-state-link w-dropdown-link">{{cursor}}</a>
                        </nav>
                        </div>
                    </div>
                    <div class="column-settings-popup" data-ix="background-picker-hide">
                        <div class="picker-header w-clearfix">
                        <div class="left">Column Settings</div>
                        <a href="#" class="picker-close w-inline-block"
                            data-ix="columns-picker-close-3"><img src="@/assets/images/Asset-14x.png"
                            width="10"
                            sizes="100vw"></a>
                        </div>
                        <div>
                        <div class="style-title">Multi-Column LayoutSettings</div>
                        </div>
                        <div class="picker-image-container">
                        <div>
                            <div class="w-row">
                                <div class="col w-col w-col-6">
                                    <div class="layout-properties">
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input">
                                            <img src="@/assets/images/Asset-874x.png" width="18" class="icon">
                                            <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input">
                                            <div>Line Settings</div>
                                            <div class="layout-asset-input">
                                                <img src="@/assets/images/Asset-854x.png" width="20" class="icon">
                                            <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                        </div>
                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col w-col w-col-6">
                                    <div class="layout-properties">
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input">
                                            <img src="@/assets/images/Asset-864x.png" width="20" class="icon">
                                            <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="w-form-done">
                                            <div>Thank you! Your submission has been received!</div>
                                        </div>
                                        <div class="w-form-fail">
                                            <div>Oops! Something went wrong while submitting the form.</div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-clearfix">
                            <div class="layout-edits w-clearfix">
                                <a href="#" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                    <img src="@/assets/images/Asset-824x.png" width="2" height="14">
                                    <div class="button-description"><div>Dotted</div></div>
                                </a>
                                <a href="#"
                                    class="set-display-cordination font-bnt-style w-inline-block"
                                    data-ix="buttonhoverdescription">
                                    <img
                                    src="@/assets/images/Asset-884x.png" width="3" height="14">
                                    <div class="button-description">
                                    <div>Dashed</div>
                                    </div>
                                </a>
                                <a href="#"
                                    class="set-display-cordination left-align w-inline-block"
                                    data-ix="buttonhoverdescription">
                                    <img
                                    src="@/assets/images/Asset-814x.png" width="3" height="14">
                                    <div class="button-description">
                                    <div>Soild</div>
                                    </div>
                                </a>
                            </div>
                            <img src="@/assets/images/Asset-844x.png" width="20" class="icon">
                        </div>
                        <div class="tool-contents w-clearfix">
                            <div class="toole-tab-title">Color</div>
                            <div class="w-form">
                                <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2" data-name="Color 2" placeholder="#257bd8" id="color-2">
                                    <div class="color-picker"></div>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form.
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      openBackground: 0,
      openCursor: 0,
      cursors: ['-webkit-grab', '-webkit-grabbing', '-webkit-zoom-in', '-webkit-zoom-out', 'alias', 'all-scroll', 'auto',
        'cell', 'col-resize', 'context-menu', 'copy', 'crosshair', 'default', 'e-resize', 'ew-resize', 'grab', 'grabbing', 'help',
        'inherit', 'initial', 'move', 'n-resize', 'ne-resize', 'nesw-resize', 'no-drop', 'none', 'not-allowed', 'ns-resize',
        'nw-resize', 'nwse-resize', 'pointer', 'row-resize', 's-resize', 'se-resize', 'sw-resize', 'text', 'unset', 'verical-text',
        'w-resize', 'wait', 'zoom-in', 'zoom-out'
      ]
    }
  },
  props: ['tab'],
  methods: {
    closeTab () {
      let i = this.tab === 7 ? 0 : 7
      this.$emit('closeTab', i)
    },
    setBackground (i) {
      this.openBackground = 0
      this.$store.state.activeWidget.backgroundColor = i
    },
    rotate(i, e) {
        if (i === 0) {
            console.log('rotateX(' + e.target.value + 'deg)')
            this.$store.state.activeWidget.transform = "rotateX(" + e.target.value + "deg)"
        } else if (i === 1) {
            this.$store.state.activeWidget.transform = "rotateY(" + e.target.value + "deg)"
        } else {
            this.$store.state.activeWidget.transform = "rotateZ(" + e.target.value + "deg)"
        } 
    },
    setCursor (i) {
      this.openCursor = 0
      this.$store.state.activeWidget.cursor = i
    }
  }
}
</script>
