<template>
    <div class="sidebar-tools">
        <div class="tool-bar-handle w-clearfix">
            <div class="move-handel">
                <div class="move-ball1"></div>
                <div class="move-ball1"></div>
                <div class="move-ball1"></div>
            </div>
        </div>
        <div data-duration-in="300" data-duration-out="100" class="tool-tab w-tabs">
            <div class="tabs-menu-4 w-clearfix w-tab-menu">
                <a class="tool-tab-current w-inline-block w-tab-link" @click="tab = 1" :class="tab == 1 ? 'w--current' : ''">
                    <img src="@/assets/images/pen.svg" width="15" class="tool-tab-icon">
                    <div class="tool-tab-text-tab-style">Design</div>
                </a>
                <a class="tool-tab-current w-inline-block w-tab-link" @click="tab = 2" :class="tab == 2 ? 'w--current' : ''">
                    <img src="@/assets/images/Asset-894x.png" width="14" class="tool-tab-icon">
                    <div class="tool-tab-text-tab-style">Blocks</div>
                </a>
                <a class="tool-tab-current w-inline-block w-tab-link" @click="tab = 3" :class="tab == 3 ? 'w--current' : ''">
                    <img src="@/assets/images/stack.svg" width="15" class="tool-tab-icon">
                    <div class="tool-tab-text-tab-style">Layers</div>
                </a>
                <a class="tool-tab-current right-align w-inline-block w-tab-link"  @click="tab = 4" :class="tab == 4 ? 'w--current' : ''">
                    <img src="@/assets/images/Asset-2804x.png" width="15">
                </a>
            </div>
            <div class="tabs-content-3 w-tab-content">
                <div class="tab-pane-tab-1 w-tab-pane" v-if="tab == 1">
                    <div data-ix="fade-up-1" class="accordion js-accordion">
                        <div class="accordion__item js-accordion-item active">
                            <layout-tab :tab="Firsttab" @closeTab="closeTab($event)"></layout-tab>
                        </div>
                        <div class="accordion__item js-accordion-item" style="z-index:1; overflow: visible; position: relative">
                           <typograph-tab :tab="Firsttab" @closeTab="closeTab($event)"></typograph-tab>
                        </div>
                        <div class="accordion__item js-accordion-item active">
                            <background-tab :tab="Firsttab" @closeTab="closeTab($event)"></background-tab>
                        </div>
                        <div class="accordion__item js-accordion-item active">
                            <border-effect-tab :tab="Firsttab" @closeTab="closeTab($event)"></border-effect-tab>
                        </div>
                        <div class="accordion__item js-accordion-item active">
                            <shadow-tool-tab :tab="Firsttab" @closeTab="closeTab($event)"></shadow-tool-tab>
                        </div>
                        <div class="accordion__item js-accordion-item active">
                            <transition-transform-tab :tab="Firsttab" @closeTab="closeTab($event)"></transition-transform-tab>
                        </div>
                        <div class="accordion__item js-accordion-item active" style="position:relative; overflow: visible">
                            <effects-tab :tab="Firsttab" @closeTab="closeTab($event)"></effects-tab>
                        </div>
                    </div>
                </div>
                <div class="w-tab-pane" v-if="tab == 2">
                    <div class="accordion js-accordion">
                        <div class="accordion__item js-accordion-item active" v-for="(widget, i) in widgets" :key="i">
                            <div class="accordion-header js-accordion-header" @click="handleBodyNum(i + 1)">
                                <h5 class="tool-tab-text">{{widget.label}}</h5>
                            </div>
                            <transition name="fade-effect">
                                <div class="accordion-body js-accordion-body" v-if="bodyNum == (i + 1)">
                                    <div class="tool-tab-menu">
                                        <div class="tool-selector" v-for="(items, j) in widget.items" :key="j">
                                            <div class="w-row">
                                                <div class="w-col w-col-4" v-for="(item, k) in items" :key="k">
                                                    <div>
                                                        <a class="tool-div w-inline-block" draggable="true" @dragstart="dragstart(item.setting, $event)">
                                                            <img :src="require(`@/assets/images/${item.setting.icon}`)" sizes="(max-width: 479px) 48px, (max-width: 767px) 10vw, (max-width: 991px) 4vw, 40.525001525878906px" class="tool-box-icon">
                                                        </a>
                                                        <div class="tool-decription">{{item.setting.title}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
                <div class="w-tab-pane" v-else-if="tab == 3">
                    <div class="layers-moveable w-clearfix">
                        <tree-tag :node="treeData"></tree-tag>
                    </div>
                </div>
                <div class="w-tab-pane" v-else-if="tab == 4">
                    <div data-ix="fade-up-1" class="accordion js-accordion">
                        <div class="accordion__item js-accordion-item active">
                            <div class="accordion-header js-accordion-header">
                                <h5 class="tool-tab-text">Tool Settings</h5>
                            </div>
                            <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                                <div class="tool-tab-menu">
                                    <div class="tool-bar-contains">
                                        <div class="toole-tab-title toole-title1">Text Block Settings</div>
                                        <div class="w-form">
                                            <form id="email-form" name="email-form" data-name="Email Form"><input
                                            type="text" class="tool-bar-field1 w-input" maxlength="256"
                                            name="Class-4" data-name="Class 4"
                                            placeholder="ID for inpage linking and custom code" id="Class-4">
                                                <div class="sample-title moer-space">0 on page</div>
                                                <div class="tool-contents w-clearfix">
                                                    <div class="toole-tab-title">Tag</div>
                                                    <div data-delay="0" class="text-dropdown w-dropdown">
                                                        <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle">
                                                            <div class="tool-tip">
                                                                <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6"></div>
                                                            <div class="drop-state-down">Div</div>
                                                        </div>
                                                        <nav class="dropdown-list-3 w-dropdown-list">
                                                            <a href="#" class="drop-link inlay-state-link w-dropdown-link">Roboto</a>
                                                            <a href="#" class="drop-link inlay-state-link w-dropdown-link">IBM Plex</a>
                                                            <a href="#" class="drop-link inlay-state-link w-dropdown-link">IBM Mono</a>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="w-form-done">
                                            <div>Thank you! Your submission has been received!</div>
                                            </div>
                                            <div class="w-form-fail">
                                            <div>Oops! Something went wrong while submitting the form.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tool-bar-contains w-clearfix">
                                        <div class="toole-tab-title">Visible
                                            <span class="visible-span text-span-9"> (on all)</span>
                                        </div>
                                        <div class="layout-edits w-clearfix">
                                            <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                <img src="@/assets/images/Asset-364x.png" width="12" class="phone-rotate">
                                                <div class="button-description">
                                                    <div>Flex Css</div>
                                                </div>
                                            </a>
                                            <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                <img src="@/assets/images/Asset-364x.png" width="12">
                                                <div class="button-description">
                                                    <div>Flex Css</div>
                                                </div>
                                            </a><a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                <img src="@/assets/images/Asset-354x.png" width="23">
                                                <div class="button-description">
                                                    <div>Inline Block</div>
                                                </div>
                                            </a>
                                            <a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                <img src="@/assets/images/Asset-344x.png" width="23">
                                                <div class="button-description">
                                                    <div>Block</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion__item js-accordion-item">
                            <div class="accordion-header js-accordion-header">
                                <h5 class="tool-tab-text">Advaced</h5>
                            </div>
                            <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                                <div class="tool-tab-menu">
                                    <div class="tool-bar-contains"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import widgets from '../widgets'
import widgetLib from '../../lib/widgets'
import layoutTab from './layout.vue'
import typographTab from './typograph.vue'
import borderEffectTab from './border-effect.vue'
import shadowToolTab from './shadow-tool.vue'
import backgroundTab from './background-tab.vue'
import transitionTransformTab from './transition-transform.vue'
import effectsTab from './effects.vue'
import treeTag from './tree-tag.vue'
export default {
  data () {
    return {
      library: widgets.widgets,
      tab: 1,
      Firsttab: 1,
      bodyNum: 0
    }
  },
  created () {
    Vue.use(widgetLib, { widgets: this.library })
  },
  computed: {
    widgets () {
      return widgetLib.getWidgets()
    },
    addedComponents () {
      return this.$store.state.widgets
    },
    treeData() {
        let widgets = this.$store.state.widgets
        let parents = widgets.filter(i => i.parent === "page")
        /********************   recursion function   *****************/
        let treeData = {label: "body", icon: "Asset-2724x.png", id: null, parent: null, children: []}
        function recursion(a, b) {
            widgets.forEach(i => {
                if (i.parent === a) {
                    b.children.push({label: i.title, icon: i.icon, id: i.uuid, parent: i.parent, children: []})
                    recursion(i.uuid, b.children[b.children.length - 1])
                } else {
                    return
                }
            })
            return treeData
        }
        return recursion("page", treeData)
    }
  },
  methods: {
    handleBodyNum (i) {
      if (this.bodyNum === i) {
        this.bodyNum = 0
      } else {
        this.bodyNum = i
      }
    },
    closeTab (i) {
      this.Firsttab = i
    },
    dragstart (item, e) {  
        let params = { data: item, state: 0, isSort: 0}
        if (item.type === 'rich-text-comp') {
            let widgets = this.widgets
            function getElement(data) {
                let findElement = ''
                widgets.forEach(i => {
                    i.items.forEach(j => {
                        for(let k in j) {
                            if (j[k].setting.type === data) {
                                findElement = j[k].setting
                            }
                        }
                    })
                })
                return findElement
            }
            let heading = getElement('heading-comp')
            let heading1 = Object.assign({}, heading, {text: 'What\'s a Rich Text element?', headType: 2})
            let quote = getElement('quote-comp')
            quote = Object.assign({}, quote, {text: 'The rich text element allows you to create and format headings, paragraphs, blockquotes, images, and video all in one place instead of having to add and format them individually. Just double-click and easily create content.'})            
            let heading2 = Object.assign({}, heading, {text: 'Static and dynamic content editing', headType: 4})
            let paragraph = getElement('paragraph-comp')
            let paragraph1 = Object.assign({}, paragraph, {text: 'A rich text element can be used with static or dynamic content. For static content, just drop it into any page and begin editing. For dynamic content, add a rich text field to any collection and then connect a rich text element to that field in the settings panel. Volia!'})
            let heading3 = Object.assign({}, heading, {text: 'How to customize formatting for each rich text', headType: 4})
            let paragraph2 = Object.assign({}, paragraph, {text: 'Headings, paragraphs, blockquotes, figures, images, and figure captions can all be styled after a class is added to the rich text element using the "When inside of" nested selector system.'})
            params.childItems = [heading1, quote, heading2, paragraph1, heading3, paragraph2]
        }
        e.dataTransfer.setData('item', JSON.stringify(params))
    }
  },
  components: {
    layoutTab,
    typographTab,
    borderEffectTab,
    shadowToolTab,
    backgroundTab,
    transitionTransformTab,
    effectsTab,
    treeTag,
  }
}
</script>

<style>
.panel{
    margin-left: 20px;
}
</style>
