<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Layout</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab === 1" :class="tab === 1 ? 'accordion-open' : 'accordion-close'">
                <div class="tool-tab-menu">
                <div class="tool-bar-contains w-clearfix">
                    <div class="toole-tab-title">Class Name</div>
                    <div data-delay="0" class="class-dropdown w-dropdown">
                        <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="stateCss = !stateCss">
                            <div class="drop-state-down">States</div>
                            <div class="notification-state"></div>
                        </div>
                        <nav class="dropdown-list-3 w-clearfix w-dropdown-list" v-if="stateCss">
                            <a href="#"
                            class="drop-link inlay-state-link w-dropdown-link" @click="selectState(0)">None</a>
                            <div class="state-notification" :class="$store.state.activeWidget.state === 0 ? 'active' : ''"></div>
                            <a href="#" class="drop-link inlay-state-link w-dropdown-link" @click="selectState(1)">Hover</a>
                            <div class="state-notification" :class="$store.state.activeWidget.state === 1 ? 'active' : ''"></div>
                            <a href="#" class="drop-link inlay-state-link w-dropdown-link" @click="selectState(2)">Focus</a>
                            <div class="state-notification" :class="$store.state.activeWidget.state === 2 ? 'active' : ''"></div>
                        </nav>
                    </div>
                </div>
                <div class="tool-bar-contains w-clearfix">
                    <div class="toole-tab-title">Layout</div>
                    <div class="layout-edits w-clearfix">
                        <a @click="style.display = 'none'" class="set-display-cordination w-inline-block tooltip" :class="style.display === 'none' ? 'active' : ''">
                            <img src="@/assets/images/selecte-screen-05.svg" width="23">
                            <div class="button-description toolbar-tooltip"><div>Hidden</div></div>
                        </a>
                        <a @click="style.display = 'grid'" class="set-display-cordination w-inline-block tooltip" :class="style.display === 'grid' ? 'active' : ''">
                            <img src="@/assets/images/Asset-694x.png" width="23">
                            <div class="button-description toolbar-tooltip"><div>Grid</div></div>
                        </a>
                        <a @click="style.display = 'flex'" class="set-display-cordination w-inline-block tooltip" :class="style.display === 'flex' ? 'active' : ''">
                            <img src="@/assets/images/selecte-screen-04.svg" width="23">
                            <div class="button-description toolbar-tooltip"><div>Flex Css</div></div>
                        </a>
                        <a @click="style.display = 'inline-block'" class="set-display-cordination w-inline-block tooltip" :class="style.display === 'inline-block' ? 'active' : ''">
                            <img src="@/assets/images/selecte-screen-03.svg" width="23">
                            <div class="button-description toolbar-tooltip"><div>Inline Block</div></div>
                        </a>
                        <a @click="style.display = 'block'" class="set-display-cordination w-inline-block tooltip" :class="style.display === 'block'">
                            <img src="@/assets/images/selecte-screen-02.svg" width="23">
                            <div class="button-description toolbar-tooltip"><div>Block</div></div>
                        </a>
                    </div>
                    <div class="visual-content-edge">
                        <div class="inline-edit-bnt">
                            <div class="layout-pull-trigger">
                            <div class="inline-field-module w-row">
                                <div class="col w-col w-col-8">
                                    <div class="w-form">
                                        <input type="text" v-model="style.marginTop" class="tool-bar-field1 pull-module w-input" maxlength="256" name="Class-3" data-name="Class 3" placeholder="PX / %" id="Class-3">
                                    </div>
                                </div>
                                <div class="col w-col w-col-4">
                                    <a @click="margin('marginTop',1)" class="upper-pull w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                    <a @click="margin('marginTop',0)" class="upper-pull upside-down w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="inline-edit-bnt">
                            <div class="layout-pull-trigger">
                                <div class="inline-field-module w-row">
                                    <div class="col w-col w-col-8">
                                        <div class="w-form">
                                            <input type="text" v-model="style.paddingTop" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-4">
                                        <a @click="padding('paddingTop', 1)" class="upper-pull w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                        <a @click="padding('paddingTop', 0)" class="upper-pull upside-down w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inline-edit-bnt w-clearfix">
                            <div class="layout-pull-trigger right">
                                <div class="inline-field-module w-row">
                                    <div class="col w-col w-col-8">
                                        <div class="w-form">
                                            <input type="text" v-model="style.marginRight" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-4">
                                        <a @click="margin('marginRight', 1)" class="upper-pull w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                        <a @click="margin('marginRight', 0)" class="upper-pull upside-down w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-pull-trigger right small-space">
                                <div class="inline-field-module w-row">
                                    <div class="col w-col w-col-8">
                                        <div class="w-form">
                                            <input type="text" v-model="style.paddingRight" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-4">
                                        <a @click="padding('paddingRight', 1)" class="upper-pull w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                        <a @click="padding('paddingRight', 0)" class="upper-pull upside-down w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-pull-trigger left">
                                <div class="inline-field-module w-row">
                                    <div class="col w-col w-col-8">
                                        <div class="w-form">
                                            <input type="text" v-model="style.marginLeft" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %" >
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-4">
                                        <a @click="margin('marginLeft', 1)" class="upper-pull w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                        <a @click="margin('marginLeft', 0)" class="upper-pull upside-down w-inline-block">
                                            <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-pull-trigger left">
                            <div class="inline-field-module w-row">
                                <div class="col w-col w-col-8">
                                    <div class="w-form">
                                        <input type="text" v-model="style.paddingLeft" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                    </div>
                                </div>
                                <div class="col w-col w-col-4">
                                    <a @click="padding('paddingLeft', 1)" class="upper-pull w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                    <a @click="padding('paddingLeft', 0)" class="upper-pull upside-down w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="inline-edit-bnt">
                            <div class="layout-pull-trigger">
                            <div class="inline-field-module w-row">
                                <div class="col w-col w-col-8">
                                    <div class="w-form">
                                        <input type="text" v-model="style.paddingBottom" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                    </div>
                                </div>
                                <div class="col w-col w-col-4">
                                    <a @click="padding('paddingBottom', 1)" class="upper-pull w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                    <a @click="padding('paddingBottom', 0)" class="upper-pull upside-down w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="inline-edit-bnt">
                            <div class="layout-pull-trigger">
                            <div class="inline-field-module w-row">
                                <div class="col w-col w-col-8">
                                    <div class="w-form">
                                        <input type="text" v-model="style.marginBottom" class="tool-bar-field1 pull-module w-input" maxlength="256" placeholder="PX / %">
                                    </div>
                                </div>
                                <div class="col w-col w-col-4">
                                    <a @click="margin('marginBottom', 1)" class="upper-pull w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                    <a @click="margin('marginBottom', 0)" class="upper-pull upside-down w-inline-block">
                                        <img src="@/assets/images/little-arrow.png" class="little-arrow">
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="visual-layout-editor">
                        <div class="w-row">
                            <div class="col w-col w-col-6">
                                <div class="layout-properties">
                                    <div class="layout-form-assets w-form">
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Width:</div>
                                                <input type="text" v-model="$store.state.activeWidget.width" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Min:</div>
                                                <input type="text" v-model="$store.state.activeWidget.minWidth" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Max:</div>
                                                <input type="text" v-model="$store.state.activeWidget.maxWidth" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                                            </div>

                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col w-col w-col-6">
                                <div class="layout-properties">
                                    <div class="layout-form-assets w-form">

                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Height:</div>
                                                <input type="text" v-model="$store.state.activeWidget.height" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Min:</div>
                                                <input type="text" v-model="$store.state.activeWidget.minHeight" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Max:</div>
                                                <input type="text" v-model="$store.state.activeWidget.maxHeight" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                                            </div>

                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-bar-contains">
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Float</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="float('right')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-34x.png" width="23" sizes="20px">
                                <div class="button-description"><div>Float Right</div></div>
                            </a>
                            <a @click="float('left')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-24x.png" width="23" sizes="20px">
                                <div class="button-description"><div>Floart Left</div></div>
                            </a>
                            <a @click="float('none')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                                <div class="button-description"><div>No Float</div></div>
                            </a>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Clear</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="clear('both')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-74x.png" width="23" sizes="20px">
                                <div class="button-description"><div>Both</div></div>
                            </a>
                            <a @click="clear('right')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-54x.png" width="23" sizes="20px">
                                <div class="button-description"><div>Right</div></div>
                            </a>
                            <a @click="clear('left')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-44x.png" width="23" sizes="20px">
                                <div class="button-description"><div>Left</div></div>
                            </a>
                            <a @click="clear('none')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                                <div class="button-description"><div>No Clear</div></div>
                            </a>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Overflow</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="overflow('auto')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-84x.png" width="23">
                                <div class="button-description"><div>Scroll Auto</div></div>
                            </a>
                            <a @click="overflow('scroll')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-94x.png" width="23">
                                <div class="button-description"><div>Scroll</div></div>
                            </a>
                            <a @click="overflow('hidden')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-104x.png" width="23">
                                <div class="button-description"><div>Hidden</div></div>
                            </a>
                            <a @click="overflow('visible')" class="set-display-cordination w-inline-block" >
                                <img src="@/assets/images/Asset-114x.png" width="23">
                                <div class="button-description"><div>Visible</div></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tool-bar-contains">
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Positiion</div>
                        <div class="layout-edits">
                            <div data-duration-in="300" data-duration-out="100" class="position-tab w-tabs">
                            <div class="w-clearfix w-tab-menu">
                                <a @click="position('fixed', 1)" class="set-display-cordination w-inline-block w-tab-link">
                                    <div class="button-description"><div>Scroll</div></div>
                                    <img src="@/assets/images/Asset-194x.png" width="23">
                                </a>
                                <a @click="position('absolute', 2)" class="set-display-cordination w-inline-block w-tab-link">
                                    <div class="button-description"><div>Scroll</div></div>
                                    <img src="@/assets/images/Asset-184x.png" width="18" class="icon-image2">
                                </a>
                                <a @click="position('relative', 3)" class="set-display-cordination w-inline-block w-tab-link">
                                    <div class="button-description"><div>Scroll</div></div>
                                    <img src="@/assets/images/Asset-174x.png" width="23" sizes="20px">
                                </a>
                                <a @click="position('unset', 4)" class="set-display-cordination w-inline-block w-tab-link">
                                    <div class="button-description"><div>Scroll</div></div>
                                    <img src="@/assets/images/Asset-124x.png" width="23">
                                </a>
                            </div>
                            <div class="tabs-content-4 w-clearfix w-tab-content">
                                <div class="tab-pane-tab1 w-tab-pane" v-if="positionTab === 1">
                                    <div class="w-clearfix">
                                        <a @click="positionSpec('top', 'right')" class="set-display-cordination w-inline-block" >
                                        <img src="@/assets/images/Asset-314x.png" width="23">
                                        <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('bottom', 'right')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-294x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('top', 'left')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-324x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('bottom', 'left')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-294x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                    </div>
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.left" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-204x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.right" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-234x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.top" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-224x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.bottom" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input">
                                            <div class="text-block-12">Z-Index</div>
                                            <input type="text" v-model="$store.state.activeWidget.zIndex" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                                        </div>
                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                                <div class="tab-pane-tab-4 w-tab-pane" v-else-if="positionTab === 2">
                                    <div class="w-clearfix">
                                        <a @click="positionSpec('top', 'right')" class="set-display-cordination w-inline-block" >
                                        <img src="@/assets/images/Asset-314x.png" width="23">
                                        <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('bottom', 'right')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-294x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('top', 'left')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-324x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                        <a @click="positionSpec('bottom', 'left')" class="set-display-cordination w-inline-block" >
                                            <img src="@/assets/images/Asset-294x.png" width="23">
                                            <div class="button-description"><div>Hidden</div></div>
                                        </a>
                                    </div>
                                    <div class="layout-form-assets w-form">

                                            <div class="layout-asset-input small">
                                                <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                                <input type="text" v-model="$store.state.activeWidget.left" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input small">
                                                <img src="@/assets/images/Asset-204x.png" width="30" sizes="32px" class="relative-image">
                                                <input type="text" v-model="$store.state.activeWidget.right" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input small">
                                                <img src="@/assets/images/Asset-234x.png" width="30" sizes="32px" class="relative-image">
                                                <input type="text" v-model="$store.state.activeWidget.top" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input small">
                                                <img src="@/assets/images/Asset-224x.png" width="30" sizes="32px" class="relative-image">
                                                <input type="text" v-model="$store.state.activeWidget.bottom" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                            </div>
                                            <div class="layout-asset-input">
                                                <div class="text-block-12">Z-Index</div>
                                                <input type="text" v-model="$store.state.activeWidget.zIndex" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                                            </div>

                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                                <div class="tab-pane-tab-5 w-tab-pane" v-else-if="positionTab === 3">
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.left" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.right" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.top" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input small">
                                            <img src="@/assets/images/Asset-214x.png" width="30" sizes="32px" class="relative-image">
                                            <input type="text" v-model="$store.state.activeWidget.bottom" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input">
                                            <div class="text-block-12">Z-Index</div>
                                            <input type="text" v-model="$store.state.activeWidget.zIndex" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="None" id="Class-2">
                                        </div>
                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                                <div class="tab-pane-tab-0 w-tab-pane" v-else-if="positionTab === 4"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      stateCss: 0,
      positionTab: 4,
      setting: {
        width: 'auto', height: 'auto', minWidth: '100px', minHeight: '200px', maxWidth: 'auto', maxHeight: 'auto', position: 'relative', top: 'auto', left: 'auto',
        bottom: 'auto', right: 'auto', display: 'block', paddingTop: '10px', paddingRight: '10px', paddingBottom: '10px', paddingLeft: '10px', marginTop: '10px',
        marginRight: '10px', marginBottom: '10px', marginLeft: '10px', float: 'none', clear: 'none', overflow: 'none', fontFamily: '', fontKerning: 'normal', fontWeight: 500,
        color: '#000000', fontSize: '12px', lineHeight: 1, textIndent: '0px', textAlign: 'left', textDecoration: 'none', textTransform: 'lowercase', columnCount: 'auto',
        backgroundImage: '', backgroundColor: '#ffffff', direction: 'ltr', borderTopWidth: '1px', borderRightWidth: '1px', borderBottomWidth: '1px', zIndex: 0,
        borderLeftWidth: '1px', borderTopLeftRadius: '5px', borderTopRightRadius: '5px', borderBottomLeftRadius: '5px', borderBottomRightRadius: '5px', borderStyle: 'solid',
        borderColor: '#cccccc', boxShadow: '0px 0px 0px 0px #cccccc', textShadow: '0px 0px 0px #cccccc', transition: '', transform: '', opacity: 1, cursor: 'pointer'
      }
    }
  },
  computed: {
      style() {
          if (this.$store.state.activeWidget.state === undefined) {
              return this.setting
          } else if (this.$store.state.activeWidget.state === 0) {
              return this.$store.state.activeWidget
          } else if (this.$store.state.activeWidget.state === 1) {
              return this.$store.state.activeWidget.hoverStyle
          } else {
              return this.$store.state.activeWidget.focusStyle
          }
      },
      state() {
          this.$store.state.activeWidget.state
      }
  },
  methods: {
    closeTab () {
      let i = this.tab === 1 ? 0 : 1
      this.$emit('closeTab', i)
    },
    selectState (i) {
        this.$store.state.activeWidget.state = i
        this.stateCss = 0
    },
    margin (i, j) {
      let margin = this.style[i]
      let value = parseInt(margin)
      let unit = margin.split(value)[1]
      if (j) { value++ } else { value-- }
      this.style[i] = value + unit
    },
    padding (i, j) {
      let padding = this.$store.state.activeWidget[i]
      let value = parseInt(padding)
      let unit = padding.split(value)[1]
      if (j) { value++ } else { value-- }
      this.$store.state.activeWidget[i] = value + unit
    },
    float (i) {
      this.$store.state.activeWidget.float = i
    },
    clear (i) {
      this.$store.state.activeWidget.clear = i
    },
    overflow (i) {
      this.$store.state.activeWidget.overflow = i
    },
    position (i, j) {
      this.positionTab = j
      this.$store.state.activeWidget.position = i
      this.$store.state.activeWidget.top = this.$store.state.activeWidget.right = this.$store.state.activeWidget.bottom = this.$store.state.activeWidget.left = 'auto'
    },
    positionSpec (i, j) {
      this.$store.state.activeWidget.top = this.$store.state.activeWidget.right = this.$store.state.activeWidget.bottom = this.$store.state.activeWidget.left = 'auto'
      this.$store.state.activeWidget[i] = this.$store.state.activeWidget[j] = 0
    }
  }
}
</script>

<style>
</style>
