<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Shadows</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab == 5" :class="tab === 5 ? 'accordion-open' : 'accordion-close'">
            <div class="tool-tab-menu">
                <div class="tool-bar-contains">
                    <div class="tool-contents">
                        <div class="w-clearfix">
                            <div class="toole-tab-title">Box Shadow</div>
                            <div class="layout-edits w-clearfix">
                                <a @click="handleBoxShadow(1)" class="set-display-cordination font-bnt-style w-inline-block" data-ix="shadow-box-reveal">
                                    <img src="@/assets/images/Asset-2744x.png" width="14" sizes="(max-width: 991px) 14px, 1vw">
                                    <div class="button-description">
                                        <div>Gradient</div>
                                    </div>
                                </a>
                                <a @click="handleBoxShadow(0)" class="set-display-cordination w-inline-block" data-ix="shadow-box-reveal">
                                    <img src="@/assets/images/Asset-2754x.png" width="14" sizes="(max-width: 991px) 14px, 1vw">
                                    <div class="button-description">
                                        <div>Image</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="w-form">
                            <input type="text" v-model="$store.state.activeWidget.boxShadow" class="tool-bar-field1 w-input" maxlength="256" name="Currently-None-3" data-name="Currently None 3" placeholder="None" id="Currently-None-3">
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="background-picker-modal" data-ix="background-picker-hide" v-if="boxShadow">
                        <div class="picker-header w-clearfix">
                            <div class="left">Box Shadow - Outer</div>
                            <a href="#" class="picker-close w-inline-block" data-ix="bckground-picker-close" @click="boxShadow = 0">
                                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw"></a>
                        </div>
                        <div>
                            <div class="style-title">Type</div>
                            <div class="picker-image-container center">
                                <a @click="boxShadowType = 'inset'" class="picker-browse-image side-by-side w-inline-block">
                                    <div class="upload-text">Inner</div>
                                </a>
                                <a @click="boxShadowType = ''" class="picker-browse-image side-by-side w-inline-block">
                                    <div class="upload-text">Outer</div>
                                </a>
                                <div class="w-form">
                                    <div class="layout-asset-input center">
                                        <div class="text-block-12 short">Distance</div>
                                        <input type="text" v-model="boxShadowDistance" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="px" id="Class-2">
                                    </div>
                                    <div class="layout-asset-input center">
                                        <div class="text-block-12">Blur</div>
                                        <input type="text" v-model="boxShadowBlur" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="px" id="Class-2">
                                    </div>
                                    <div class="layout-asset-input center">
                                        <div class="text-block-12">Size</div>
                                        <input type="text" v-model="boxShadowSize" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="px" id="Class-2">
                                        </div>
                                        <div class="center more w-clearfix">
                                        <input type="text" v-model="boxShadowColor"  class="tool-bar-field1 color-scale w-input"  maxlength="256" name="color-2" data-name="Color 2" placeholder="#257bd8" id="color-2">
                                        <input type="color" v-model="boxShadowColor" class="color-picker"/>
                                    </div>
                                    <div class="w-form-done">
                                        <div>Thank you! Your submission has been received!</div>
                                    </div>
                                    <div class="w-form-fail">
                                        <div>Oops! Something went wrong while submitting the form.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="style-title">Angle Position</div>
                            <div class="picker-image-container">
                                <div>
                                    <div class="w-row">
                                        <div class="col w-col w-col-6">
                                        <div class="text-block-12">Adjust</div>
                                        <div class="layout-properties">
                                            <div class="layout-form-assets w-form">
                                                <div class="layout-asset-input">
                                                    <div class="text-block-12">Right</div>
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                                <div class="layout-asset-input">
                                                    <div class="text-block-12">Left</div>
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                                <div class="w-form-done">
                                                    <div>Thank you! Your submission has been
                                                    received!
                                                    </div>
                                                </div>
                                                <div class="w-form-fail">
                                                    <div>Oops! Something went wrong while submitting
                                                    the form.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col w-col w-col-6">
                                        <div class="text-block-12 long-title">Presets</div>
                                        <div class="w-row">
                                            <div class="w-clearfix w-col w-col-4">
                                                <a @click="preset('top-left', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                                                </a>
                                                <a @click="preset('left', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-704x.png" width="13">
                                                </a>
                                                <a @click="preset('bottom-left', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                                                </a>
                                            </div>
                                            <div class="w-clearfix w-col w-col-4">
                                                <a @click="preset('top', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-804x.png" width="10">
                                                </a>
                                                <a @click="preset('center', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-624x.png" width="10">
                                                </a>
                                                <a @click="preset('bottom', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-764x.png" width="10">
                                                </a>
                                            </div>
                                            <div class="w-clearfix w-col w-col-4">
                                                <a @click="preset('top-right', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                                                </a>
                                                <a @click="preset('right', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-714x.png" width="13">
                                                </a>
                                                <a @click="preset('bottom-right', 'boxShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                    <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                                                </a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-bar-contains">
                    <div class="tool-contents">
                        <div class="w-clearfix">
                        <div class="toole-tab-title">Text Shadow</div>
                            <div class="layout-edits w-clearfix">
                                <a @click="handleTextShadow(1)" class="set-display-cordination font-bnt-style w-inline-block" data-ix="shadow-box-reveal">
                                    <img src="@/assets/images/Asset-2764x.png" width="14" sizes="(max-width: 991px) 14px, 1vw">
                                    <div class="button-description">
                                        <div>Gradient</div>
                                    </div>
                                </a>
                                <a @click="handleTextShadow(0)" class="set-display-cordination w-inline-block" data-ix="shadow-box-reveal">
                                    <img src="@/assets/images/Asset-2774x.png" width="14" sizes="(max-width: 991px) 14px, 1vw">
                                    <div class="button-description">
                                        <div>Image</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="w-form">
                            <input type="text" v-model="$store.state.activeWidget.textShadow" class="tool-bar-field1 w-input" maxlength="256" name="Currently-None-3" data-name="Currently None 3" placeholder="None" id="Currently-None-3">
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                    <div class="background-picker-modal" data-ix="background-picker-hide" v-if="textShadow">
                        <div class="picker-header w-clearfix">
                            <div class="left">Text Shadow - Outer</div>
                            <a class="picker-close w-inline-block" data-ix="bckground-picker-close" @click="textShadow = 0">
                                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                            </a>
                        </div>
                        <div>
                        <div class="style-title">Type</div>
                        <div class="picker-image-container center">
                            <a @click="textShadowType = 'inset'" class="picker-browse-image side-by-side w-inline-block">
                                <div class="upload-text">Inner</div>
                            </a>
                            <a @click="textShadowType = ''" class="picker-browse-image side-by-side w-inline-block">
                                <div class="upload-text">Outer</div>
                            </a>
                            <div class="w-form">
                                <div class="layout-asset-input center">
                                    <div class="text-block-12 short">Distance</div>
                                    <input type="text" v-model="textShadowDistance" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="px" id="Class-2">
                                </div>
                                <div class="layout-asset-input center">
                                    <div class="text-block-12">Blur</div>
                                    <input type="text" v-model="textShadowBlur" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="px" id="Class-2">
                                </div>
                                <div class="center more w-clearfix">
                                    <input type="text" v-model="textShadowColor" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2" data-name="Color 2" placeholder="#257bd8" id="color-2">
                                    <input type="color" v-model="textShadowColor" class="color-picker"/>
                                </div>
                                <div class="w-form-done">
                                    <div>Thank you! Your submission has been received!</div>
                                </div>
                                <div class="w-form-fail">
                                    <div>Oops! Something went wrong while submitting the form.</div>
                                </div>
                            </div>
                        </div>
                        <div class="style-title">Angle Position</div>
                            <div class="picker-image-container">
                                <div>
                                    <div class="w-row">
                                        <div class="col w-col w-col-6">
                                            <div class="text-block-12">Adjust</div>
                                            <div class="layout-properties">
                                                <div class="layout-form-assets w-form">
                                                    <div class="layout-asset-input">
                                                        <div class="text-block-12">Right</div>
                                                        <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                    </div>
                                                    <div class="layout-asset-input">
                                                        <div class="text-block-12">Bottom</div>
                                                        <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                    </div>
                                                    <div class="w-form-done">
                                                        <div>Thank you! Your submission has been received!</div>
                                                    </div>
                                                    <div class="w-form-fail">
                                                        <div>Oops! Something went wrong while submitting the form.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col w-col w-col-6">
                                            <div class="text-block-12 long-title">Presets</div>
                                            <div class="w-row">
                                                <div class="w-clearfix w-col w-col-4">
                                                    <a @click="preset('top-left', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-744x_1Asset-744x.png" width="10">
                                                    </a>
                                                    <a @click="preset('left', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-704x.png" width="13">
                                                    </a>
                                                    <a @click="preset('bottom-left', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-724x_1Asset-724x.png" width="10">
                                                    </a>
                                                </div>
                                                <div class="w-clearfix w-col w-col-4">
                                                    <a @click="preset('top', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-804x.png" width="10">
                                                    </a>
                                                    <a @click="preset('center', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-624x.png" width="10">
                                                    </a>
                                                    <a @click="preset('bottom', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-764x.png" width="10">
                                                    </a>
                                                </div>
                                                <div class="w-clearfix w-col w-col-4">
                                                    <a @click="preset('top-right', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-754x_1Asset-754x.png" width="10">
                                                    </a>
                                                    <a @click="preset('right', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-714x.png" width="13">
                                                    </a>
                                                    <a @click="preset('bottom-right', 'textShadow')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                                        <img src="@/assets/images/Asset-734x_1Asset-734x.png" width="10">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      boxShadow: 0,
      boxShadowType: null,
      boxShadowDistance: '0px 0px',
      boxShadowBlur: '0px',
      boxShadowSize: '0px',
      boxShadowColor: '#cccccc',
      textShadow: 0,
      textShadowType: null,
      textShadowDistance: '0px 0px',
      textShadowBlur: '0px',
      textShadowColor: '#cccccc'
    }
  },
  //   computed: {
  //       boxShadowDistance () {
  //           let boxShadow= this.$store.state.activeWidget.boxShadow.split(" ")
  //           return boxShadow[0] + ' ' + boxShadow[1]
  //       },
  //       boxShadowBlur () {
  //           return this.$store.state.activeWidget.boxShadow.split(" ")[2]
  //       },
  //       boxShadowSize () {
  //           return this.$store.state.activeWidget.boxShadow.split(" ")[3]
  //       },
  //       boxShadowColor () {
  //           return this.$store.state.activeWidget.boxShadow.split(" ")[4]
  //       },
  //       textShadowDistance () {
  //           let textShadow = this.$store.state.activeWidget.textShadow.split(" ")
  //           return textShadow[0] + ' ' + textShadow[1]
  //       },
  //       textShadowBlur () {
  //           return this.$store.state.activeWidget.activeWidget.textShadow.split(" ")[2]
  //       },
  //       textShadowColor() {
  //           return this.$store.state.activeWidget.activeWidget.textShadow.split(" ")[3]
  //       }
  //   },
  watch: {
    boxShadowType () {
      this.setBoxShadow()
    },
    boxShadowDistance () {
      this.setBoxShadow()
    },
    boxShadowBlur () {
      this.setBoxShadow()
    },
    boxShadowSize () {
      this.setBoxShadow()
    },
    boxShadowColor () {
      this.setBoxShadow()
    },
    textShadowType () {
      this.setTextShadow()
    },
    textShadowDistance () {
      this.setTextShadow()
    },
    textShadowBlur () {
      this.setTextShadow()
    },
    textShadowColor () {
      this.setTextShadow()
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 5 ? 0 : 5
      this.$emit('closeTab', i)
    },
    handleBoxShadow (i) {
      this.boxShadow = !this.boxShadow
      if (i) { this.boxShadowType = '' } else { this.boxShadowType = 'inset' }
    },
    handleTextShadow (i) {
      this.textShadow = !this.textShadow
      if (i) { this.textShadowType = '' } else { this.textShadowType = 'inset' }
    },
    setBoxShadow () {
      let boxShadow = this.boxShadowDistance + ' ' + this.boxShadowBlur + ' ' + this.boxShadowSize + ' ' + this.boxShadowType + ' ' + this.boxShadowColor
      this.$store.state.activeWidget.boxShadow = boxShadow
    },
    setTextShadow () {
      let textShadow = this.textShadowDistance + ' ' + this.textShadowBlur + ' ' + this.textShadowType + ' ' + this.textShadowColor
      this.$store.state.activeWidget.textShadow = textShadow
    },
    preset (i, j) {
      let x = 0
      let y = 0
      if (j === 'boxShadow') {
        x = parseInt(this.boxShadowDistance.split(' ')[0])
        y = parseInt(this.boxShadowDistance.split(' ')[1])
      } else {
        x = parseInt(this.textShadowDistance.split(' ')[0])
        y = parseInt(this.textShadowDistance.split(' ')[1])
      }
      if (i === 'top-left') {
        x -= 2, y -= 2
      } else if (i === 'left') {
        x -= 2
      } else if (i === 'bottom-left') {
        x -= 2, y += 2
      } else if (i === 'top') {
        y -= 2
      } else if (i === 'center') {
        x = 0, y = 0
      } else if (i === 'bottom') {
        y += 2
      } else if (i === 'top-right') {
        x += 2, y -= 2
      } else if (i === 'right') {
        x += 2
      } else {
        x += 2, y += 2
      }
      if (j === 'boxShadow') {
        this.boxShadowDistance = x + 'px ' + y + 'px'
      } else {
        this.textShadowDistance = x + 'px ' + y + 'px'
      }
    }
  }
}
</script>
