<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Transitions &amp; Transforms</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab === 6" :class="tab === 6 ? 'accordion-open' : 'accordion-close'">
            <div class="tool-tab-menu">
            <div class="tool-bar-contains">
                <div class="tool-contents">
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Transitions</div>
                        <div class="layout-edits w-clearfix">
                        <a @click="transitionState = !transitionState" class="set-display-cordination w-inline-block" data-ix="shadow-box-reveal">
                            <img src="@/assets/images/Asset-2794x.png" width="14">
                            <div class="button-description"><div>Image</div></div>
                        </a>
                        </div>
                    </div>
                    <div class="w-form">
                        <input type="text" class="tool-bar-field1 w-input" maxlength="256" name="Currently-None-3" data-name="Currently None 3" placeholder="None" id="Currently-None-3">
                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                    </div>
                </div>
                <div class="background-picker-modal" v-if="transitionState">
                    <div class="picker-header w-clearfix">
                        <div class="left">New Transition</div>
                        <a href="#" class="picker-close w-inline-block" data-ix="bckground-picker-close" @click="transitionState = 0">
                            <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw"></a>
                    </div>
                    <div>
                        <div class="style-title">Type</div>
                        <div class="picker-image-container center">
                        <div data-delay="0" class="selector w-dropdown">
                            <div class="dropdown-toggle-4 w-dropdown-toggle" @click="selectTransitionState = !selectTransitionState">
                                <div class="w-icon-dropdown-toggle"></div>
                                <img src="@/assets/images/Asset-2784x.png" width="10">
                                <div class="text-block-18">{{transitionValue}}</div>
                            </div>
                            <nav class="dropdown-list-4 w-dropdown-list" v-if="selectTransitionState">
                                <a @click="selectTransitionItem('backgroundColor')" class="dropdown-link-3 w-dropdown-link">Background Color</a>
                                <a @click="selectTransitionItem('opacity')" class="dropdown-link-3 w-dropdown-link">Opacity</a>
                            </nav>
                        </div>
                        <div class="w-form">
                            <div class="layout-asset-input left-align">
                                <div class="text-block-12 short left-align">Time</div>
                                <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="Seconds" id="Class-2">
                            </div>
                            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tool-bar-contains">
                <div class="tool-contents">
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Transforms:</div>
                        <div class="layout-edits w-clearfix">
                        <a @click="transformState = !transformState" class="set-display-cordination w-inline-block" data-ix="shadow-box-reveal">
                            <img src="@/assets/images/Asset-2794x.png" width="14">
                            <div class="button-description"><div>Image</div></div>
                        </a>
                        </div>
                    </div>
                    <div class="w-form">
                        <input type="text" class="tool-bar-field1 w-input" maxlength="256" name="Currently-None-3" data-name="Currently None 3" placeholder="None" id="Currently-None-3">
                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                    </div>
                </div>
                <div class="background-picker-modal" data-ix="background-picker-hide" v-if="transformState">
                    <div class="picker-header w-clearfix">
                        <div class="left">Transform</div>
                        <a @click="transformState = 0" class="picker-close w-inline-block" data-ix="bckground-picker-close">
                            <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                        </a>
                    </div>
                    <div>
                        <div class="style-title">Type</div>
                        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
                        <div class="w-tab-menu">
                            <a data-w-tab="Tab 1" class="transform-bnt w-inline-block w-tab-link w--current">
                                <div>Move</div>
                            </a>
                            <a data-w-tab="Tab 2" class="transform-bnt w-inline-block w-tab-link">
                                <div>Tab 2</div>
                            </a>
                            <a data-w-tab="Tab 3" class="w-inline-block w-tab-link">
                                <div>Tab 3</div>
                            </a>
                        </div>
                        <div class="w-tab-content">
                            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"></div>
                            <div data-w-tab="Tab 2" class="w-tab-pane"></div>
                            <div data-w-tab="Tab 3" class="w-tab-pane"></div>
                        </div>
                        </div>
                        <div class="picker-image-container center">
                        <div data-delay="0" class="selector w-dropdown">
                            <div class="dropdown-toggle-4 w-dropdown-toggle" @click="selectTransformState = !selectTransformState">
                                <div class="w-icon-dropdown-toggle"></div>
                                <img src="@/assets/images/Asset-2784x.png" width="10">
                                <div class="text-block-18">{{transformValue}}</div>
                            </div>
                            <nav class="dropdown-list-4 w-dropdown-list" v-if="selectTransformState">
                                <a @click="selectTransformItem('backgroundColor')" class="dropdown-link-3 w-dropdown-link">Background Color</a>
                                <a @click="selectTransformItem('opacity')" class="dropdown-link-3 w-dropdown-link">Opacity</a>
                            </nav>
                        </div>
                        <div class="w-form">
                            <div class="layout-asset-input left-align">
                                <div class="text-block-12 short left-align">Time</div>
                                <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="Seconds" id="Class-2">
                            </div>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ['tab'],
  data () {
    return {
      transitionState: 0,
      transformState: 0,
      selectTransitionState: 0,
      selectTransformState: 0,
      transitionValue: 'Add a New State Change',
      transformValue: 'Add a New State Change'
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 6 ? 0 : 6
      this.$emit('closeTab', i)
    },
    selectTransitionItem (i) {
      this.selectTransitionState = 0
      this.transitionValue = i
    },
    selectTransformItem (i) {
      this.selectTransformState = 0
      this.transformValue = i
    }
  }
}
</script>
