<template>
    <div class="panel" @click="selectWidget(node.id)" :id="'node' + node.id" draggable="draggable" @dragstart.stop="dragstart(node.parent, node.id, $event)" @dragover.prevent="" @dragend.prevent.stop="dragend($event)" @drop.prevent.stop="drop(node.parent, node.id, $event)">
        <a class="layer-link w-inline-block w-clearfix">
            <img :src="require(`@/assets/images/${node.icon}`)" class="layer-icon">
            <div>{{node.label}}</div>
        </a>
        <div v-if="node.children && node.children.length">
            <node v-for="(child, i) in node.children" :node="child" :key="i"></node>
        </div>
    </div>
</template>

<script>
export default {
    name: "node",
    props: {
        node: Object
    },
    data() {
        return {
            nodeId: null
        }
    },
    computed: {
        widgets() {
            return this.$store.state.widgets
        }
    },
    methods: {
        selectWidget(id) {
            if (id === null) return;
            this.$store.commit('select', {uuid: id})
        },
        dragstart(parent, id, e) {
            e.target.style.opacity = 0.5
            let data = {parent: parent, id: id}
            this.nodeId = 'node' + id
            e.dataTransfer.setData("data", JSON.stringify(data))
        },
        dragend(e) {
            document.getElementById(this.nodeId).style.opacity = 1            
        },
        drop(parent, id, e) {
            let data = e.dataTransfer.getData("data")
            data = JSON.parse(data)
            let firstIndex = 0, secondIndex = 0
            if (parent === data.parent) {
                this.widgets.forEach((i, j) => {
                    if (i.uuid === data.id) {
                        firstIndex = j
                    } else if (i.uuid === id) {
                        secondIndex = j
                    }
                })
                let widgets = this.widgets.map(i => i)
                let newSecond = Object.assign({},this.widgets[firstIndex])                
                let newFirst = Object.assign({},this.widgets[secondIndex])
                widgets[firstIndex] = newFirst
                widgets[secondIndex] = newSecond
                this.$store.state.widgets = widgets
            } else return
            
        }
    }
}
</script>

<style>

</style>

