<template>
    <div>
        <div class="accordion-header js-accordion-header" @click="closeTab()">
            <h5 class="tool-tab-text">Typography</h5>
        </div>
        <div data-ix="hide-on-load" class="accordion-body js-accordion-body" v-if="tab === 2" :class="tab === 2 ? 'accordion-open' : 'accordion-close'">
            <div class="tool-tab-menu">
                <div class="tool-bar-contains">
                    <div class="tool-contents w-clearfix">
                        <div class="toole-tab-title">Font</div>
                        <div data-delay="0" class="text-dropdown w-dropdown">
                            <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="fontTab = !fontTab">
                                <div class="tool-tip">
                                    <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6">
                                </div>
                                <div class="drop-state-down" v-if="$store.state.activeWidget.fontFamily !== '' && $store.state.activeWidget.fontFamily !== undefined">{{$store.state.activeWidget.fontFamily}}</div>
                                <div class="drop-state-down" v-else>Open Sans</div>
                            </div>
                            <nav class="dropdown-list-3 w-dropdown-list" v-if="fontTab">
                                <a @click="fontFamily('Roboto')" class="drop-link inlay-state-link w-dropdown-link">Roboto</a>
                                <a @click="fontFamily('IBM Plex')" class="drop-link inlay-state-link w-dropdown-link">IBM Plex</a>
                                <a @click="fontFamily('IBM Mono')" class="drop-link inlay-state-link w-dropdown-link">IBM Mono</a>
                            </nav>
                        </div>
                    </div>
                    <div class="tool-contents w-clearfix" style="position:relative; z-index:1">
                        <div class="toole-tab-title">Font</div>
                        <div data-delay="0" class="text-dropdown small w-dropdown">
                            <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="weightTab = !weightTab">
                                <div class="tool-tip">
                                    <img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6">
                                </div>
                                <div class="drop-state-down" v-if="$store.state.activeWidget.fontWeight !== '' && $store.state.activeWidget.fontWeight !== undefined">{{$store.state.activeWidget.fontWeight}}</div>
                                <div class="drop-state-down" v-else>{{$store.state.activeWidget.fontWeight}}</div>
                            </div>
                            <nav class="dropdown-list-3 w-dropdown-list" v-if="weightTab">
                                <a @click="fontWeight(200)" class="drop-link inlay-state-link w-dropdown-link">200 - Light</a>
                                <a @click="fontWeight(300)" class="drop-link inlay-state-link w-dropdown-link">300 - Normal</a>
                                <a @click="fontWeight(400)" class="drop-link inlay-state-link w-dropdown-link">400 - Medium</a>
                            </nav>
                        </div>
                        <a @click="$store.state.activeWidget.fontStyle = 'italic'" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                            <img src="@/assets/images/Asset-354x_1.png" width="14">
                        </a>
                        <a @click="$store.state.activeWidget.fontStyle = 'normal'" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                            <img src="@/assets/images/Asset-364x_1.png" width="14">
                        </a>
                    </div>
                    <div class="tool-contents w-clearfix" style="position:relative; z-index: 0">
                        <div class="toole-tab-title">Color</div>
                        <div class="w-form">
                            <input type="text" v-model="$store.state.activeWidget.color" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color" data-name="color" placeholder="#257bd8" id="color">
                            <input type="color" class="color-picker" v-model="$store.state.activeWidget.color"/>
                            <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                            <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                        </div>
                    </div>
                    <div class="font-options">
                        <div class="w-row">
                            <div class="col w-col w-col-6">
                                <div class="layout-properties">
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input">
                                        <div class="text-block-12">Size</div>
                                            <input type="text" v-model="$store.state.activeWidget.fontSize" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input">
                                            <div class="text-block-12">Kerning</div>
                                            <input type="text" v-model="$store.state.activeWidget.fontKerning" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col w-col w-col-6">
                                <div class="layout-properties">
                                    <div class="layout-form-assets w-form">
                                        <div class="layout-asset-input">
                                            <div class="text-block-12">Line</div>
                                            <input type="text" v-model="$store.state.activeWidget.lineHeight" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="layout-asset-input">
                                            <div class="text-block-12">Indent</div>
                                            <input type="text" v-model="$store.state.activeWidget.textIndent" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                        </div>
                                        <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div>
                                        <div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Alignment</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="alignment('justify')" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-594x.png" width="14">
                                <div class="button-description"><div>Justify</div></div>
                            </a>
                            <a @click="alignment('right')" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-564x.png" width="14">
                                <div class="button-description"><div>Right</div></div>
                            </a>
                            <a @click="alignment('center')" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-574x.png" width="14">
                                <div class="button-description"><div>Center</div></div>
                            </a>
                            <a @click="alignment('left')" class="set-display-cordination font-bnt-style w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-584x.png" width="14">
                                <div class="button-description"><div>Left</div></div>
                            </a>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Strikethorugh</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="decoration('line-through')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-534x.png" width="23">
                                <div class="button-description"><div>Strike In</div></div>
                            </a>
                            <a @click="decoration('underline')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-524x.png" width="15">
                                <div class="button-description"><div>Underline</div></div>
                            </a>
                            <a @click="decoration('none')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                                <div class="button-description">
                                    <div>None</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Direction</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="direction('rtl')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-554x.png" width="18">
                                <div class="button-description"><div>Right to Left</div></div>
                            </a>
                            <a @click="direction('ltr')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-544x.png" width="17">
                                <div class="button-description"><div>Left to rRight</div></div>
                            </a>
                        </div>
                    </div>
                    <div class="w-clearfix">
                        <div class="toole-tab-title">Text Transform</div>
                        <div class="layout-edits w-clearfix">
                            <a @click="textTransform('lowercase')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-494x.png" width="23">
                                <div class="button-description"><div>Lowercase</div></div>
                            </a>
                            <a @click="textTransform('capitalize')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-504x.png" width="23">
                                <div class="button-description"><div>Capitalize</div></div>
                            </a>
                            <a @click="textTransform('uppercase')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-514x.png" width="23">
                                <div class="button-description"><div>Uppercase</div></div>
                            </a>
                            <a @click="textTransform('none')" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription">
                                <img src="@/assets/images/Asset-14x.png" width="23" sizes="20px" class="icon-inset">
                                <div class="button-description"><div>None</div></div>
                            </a>
                        </div>
                    </div>
                    <div class="tool-contents w-clearfix">
                        <div class="toole-tab-title">Columns</div>
                        <div data-delay="0" class="text-dropdown medium w-dropdown">
                            <div class="dropdown-toggle-3 w-clearfix w-dropdown-toggle" @click="columnTab = !columnTab">
                                <div class="tool-tip"><img src="@/assets/images/tooltip_1tooltip.png" width="8" height="6"></div>
                                <div class="drop-state-down">{{$store.state.activeWidget.columnCount}}</div>
                            </div>
                            <nav class="dropdown-list-3 w-dropdown-list" v-if="columnTab">
                                <a @click="columnCount('auto')" class="drop-link inlay-state-link w-dropdown-link">Auto</a>
                                <a @click="columnCount(2)" class="drop-link inlay-state-link w-dropdown-link">2 Column</a>
                                <a @click="columnCount(3)" class="drop-link inlay-state-link w-dropdown-link">3 Column</a>
                                <a @click="columnCount(4)" class="drop-link inlay-state-link w-dropdown-link">4 Column</a>
                            </nav>
                        </div>
                        <a href="#" class="set-display-cordination w-inline-block" data-ix="column-bg-picker-reveal-3">
                            <img src="@/assets/images/Asset-484x.png" width="14"></a>
                    </div>
                    <div class="column-settings-popup" data-ix="background-picker-hide">
                        <div class="picker-header w-clearfix">
                            <div class="left">Column Settings</div>
                            <a href="#" class="picker-close w-inline-block" data-ix="columns-picker-close-3">
                                <img src="@/assets/images/Asset-14x.png" width="10" sizes="100vw">
                            </a>
                        </div>
                        <div>
                            <div class="style-title">Multi-Column LayoutSettings</div>
                        </div>
                        <div class="picker-image-container">
                            <div>
                                <div class="w-row">
                                    <div class="col w-col w-col-6">
                                        <div class="layout-properties">
                                            <div class="layout-form-assets w-form">
                                                <div class="layout-asset-input">
                                                    <img src="@/assets/images/Asset-874x.png" width="18" class="icon">
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                                <div class="layout-asset-input">
                                                    <div>Line Settings</div>
                                                    <div class="layout-asset-input">
                                                        <img src="@/assets/images/Asset-854x.png" width="20" class="icon">
                                                        <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                    </div>
                                                </div>
                                                <div class="w-form-done">
                                                    <div>Thank you! Your submission has been received!
                                                    </div>
                                                </div>
                                                <div class="w-form-fail">
                                                    <div>Oops! Something went wrong while submitting the
                                                        form.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col w-col w-col-6">
                                        <div class="layout-properties">
                                            <div class="layout-form-assets w-form">
                                                <div class="layout-asset-input">
                                                    <img src="@/assets/images/Asset-864x.png" width="20" class="icon">
                                                    <input type="text" class="tool-bar-field1 percent-scale w-input" maxlength="256" name="Class-2" data-name="Class 2" placeholder="% or PX" id="Class-2">
                                                </div>
                                            <div class="w-form-done">
                                                <div>Thank you! Your submission has been received!
                                                </div>
                                            </div>
                                            <div class="w-form-fail">
                                                <div>Oops! Something went wrong while submitting the
                                                    form.
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-clearfix">
                                <div class="layout-edits w-clearfix">
                                    <a href="#"
                                        class="set-display-cordination font-bnt-style w-inline-block"
                                        data-ix="buttonhoverdescription">
                                        <img
                                            src="@/assets/images/Asset-824x.png" width="2" height="14">
                                        <div class="button-description">
                                            <div>Dotted</div>
                                        </div>
                                    </a>
                                    <a href="#"
                                        class="set-display-cordination font-bnt-style w-inline-block"
                                        data-ix="buttonhoverdescription">
                                        <img src="@/assets/images/Asset-884x.png"
                                            width="3" height="14">
                                        <div class="button-description">
                                            <div>Dashed</div>
                                        </div>
                                    </a>
                                    <a href="#"
                                        class="set-display-cordination left-align w-inline-block"
                                        data-ix="buttonhoverdescription">
                                        <img src="@/assets/images/Asset-814x.png"
                                            width="3" height="14">
                                        <div class="button-description">
                                            <div>Soild</div>
                                        </div>
                                    </a>
                                </div>
                                <img src="@/assets/images/Asset-844x.png" width="20" class="icon">
                            </div>
                            <div class="tool-contents w-clearfix">
                                <div class="toole-tab-title">Color</div>
                                <div class="w-form">
                                    <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2" data-name="Color 2" placeholder="#257bd8" id="color-2">
                                    <div class="color-picker"></div>
                                    <div class="w-form-done">
                                        <div>Thank you! Your submission has been received!</div>
                                    </div>
                                    <div class="w-form-fail">
                                        <div>Oops! Something went wrong while submitting the form.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props: ['tab'],
  data () {
    return {
      fontTab: 0,
      weightTab: 0,
      columnTab: 0
    }
  },
  methods: {
    closeTab () {
      let i = this.tab === 2 ? 0 : 2
      this.$emit('closeTab', i)
    },
    fontFamily (i) {
      this.fontTab = 0
      this.$store.state.activeWidget.fontFamily = i
    },
    fontWeight (i) {
      this.weightTab = 0
      this.$store.state.activeWidget.fontWeight = i
    },
    alignment (i) {
      this.$store.state.activeWidget.textAlign = i
    },
    decoration (i) {
      this.$store.state.activeWidget.textDecoration = i
    },
    direction (i) {
      this.$store.state.activeWidget.direction = i
    },
    textTransform (i) {
      this.$store.state.activeWidget.textTransform = i
    },
    columnCount (i) {
      this.columnTab = 0
      this.$store.state.activeWidget.columnCount = i
    }
  }
}
</script>
