<template>
    <input type="file" style="display:none" id="uploader" @change="changeImage($event)"/>
</template>

<script>
import EventBus from '../../event-bus.js'
export default {
  data () {
    return {
      multiple: false,
      uploader: null,
      cb: null
    }
  },
  mounted () {
    this.uploader = document.getElementById('uploader')
    let _this = this
    EventBus.$on('upload', function (cb, multiple) {
      _this.multiple = !!multiple
      _this.cb = cb
      _this.uploader.click()
    })
  },
  methods: {
    changeImage (e) {
      var files = this.uploader.files
      if (!files || files.length === 0) return
      var url = window.URL.createObjectURL(files[0])
      this.cb(url)
    }
  }
}
</script>
