<template>
    <div class="comp" :style="{
        width: val.width, height: val.height, minWidth: val.minWidth,
        minHeight: val.minHeight, maxWidth: val.maxWidth, maxHeight: val.maxHeight,marginTop: val.marginTop, marginRight: val.marginRight,
        marginBottom: val.marginBottom, marginLeft: val.marginLeft, float: val.float, clear: val.clear, verticalAlign: 'middle',
        position: val.position, top: val.top, left: val.left, bottom: val.bottom, right: val.right, zIndex: val.zIndex, display: val.display,

    }">
        <video controls loop :style="{
        width: '100%', height: '100%', minWidth: val.minWidth, minHeight: val.minHeight, paddingTop: val.paddingTop,
        paddingRight: val.paddingRight, paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft,
        overflow: val.overflow, fontFamily: val.fontFamily, fontKerning: val.fontKerning,
        fontStyle: val.fontStyle, fontWeight: val.fontWeight, color: val.fontColor, fontSize: val.fontSize,
        lineHeight: val.lineHeight, textIndent: val.textIndent, textAlign: val.textAlign,
        textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
        backgroundColor: val.backgroundColor, direction: val.direction,
        borderColor: val.borderColor, borderStyle: val.borderStyle, borderTopWidth: val.borderTopWidth,
        borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth,
        borderLeftWidth: val.borderLeftWidth, borderTopLeftRadiusWidth: val.borderTopLeftRadiusWidth,
        borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
        borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow, columnCount: val.columnCount,
        textShadow: val.textShadow, transition: val.transition, transform: val.transform,
        opacity: val.opacity, cursor: val.cursor, textTransform: val.textTransform,
        }" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
            <source :src="val.src">
        </video>
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'video-player-comp'
export default {
  name: comp,
  setting: {
    title: 'Video Player',
    icon: 'Asset-2554x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    src: 'https://www.youtube.com/embed/MiRTyKehd5g?autoplay=0&controls=1',
    width: '400px',
    height: '250px',
    minWidth: '50px',
    minHeight: '50px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    right: 'auto',
    bottom: 'auto',
    display: 'inline-block',
    paddingTop: '0px',
    paddingRight: '0px',
    paddingBottom: '0px',
    paddingLeft: '0px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    fontStyle: 'normal',
    color: '#000000',
    fontSize: '15px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '0px',
    borderRightWidth: '0px',
    borderBottomWidth: '0px',
    borderLeftWidth: '0px',
    borderStyle: 'solid',
    borderColor: '#cccccc',
    borderTopLeftRadius: '0px',
    borderTopRightRadius: '0px',
    borderBottomLeftRadius: '0px',
    borderBottomRightRadius: '0px',
    boxShadow: '0px 0px 0px 0px #000000',
    textShadow: '0px 0px 0px #000000',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    hoverStyle: {
      width: '400px',
      height: '250px',
      minWidth: '50px',
      minHeight: '50px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      right: 'auto',
      bottom: 'auto',
      display: 'inline-block',
      paddingTop: '0px',
      paddingRight: '0px',
      paddingBottom: '0px',
      paddingLeft: '0px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #000000',
      textShadow: '0px 0px 0px #000000',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    focusStyle: {
      width: '400px',
      height: '250px',
      minWidth: '50px',
      minHeight: '50px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      right: 'auto',
      bottom: 'auto',
      display: 'inline-block',
      paddingTop: '0px',
      paddingRight: '0px',
      paddingBottom: '0px',
      paddingLeft: '0px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '0px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #000000',
      textShadow: '0px 0px 0px #000000',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    }
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
