<template>
    <div class="quote comp" :contenteditable="$store.state.isEdit ? 'true' : 'false'" :id="val.uuid"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight,
            maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position, bottom: val.bottom, right: val.right,
            top: val.top, left: val.left, display: val.display, paddingTop: val.paddingTop,
            paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
            paddingLeft: val.paddingLeft, marginTop: val.marginTop, marginRight: val.marginRight,
            marginBottom: val.marginBottom, marginLeft: val.marginLeft,
            float: val.float, clear: val.clear, overflow: val.overflow, fontKerning: val.fontKerning,
            fontFamily: val.fontFamily, fontWeight: val.fontWeight, fontColor: val.fontColor,
            fontSize: val.fontSize, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration,
            backgroundImage:'url(' + val.backgroundImage + ')', backgroundColor: val.backgroundColor,
            borderColor: val.borderColor, borderStyle: val.borderStyle,
            direction: val.direction, borderTopWidth: val.borderTopWidth, fontStyle: val.fontStyle,
            borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth,
            borderLeftWidth: val.borderLeftWidth, borderTopLeftRadius: val.borderTopLeftRadius,
            borderTopRightRadius: val.borderTopRightRadius, borderBottomLeftRadius: val.borderBottomLeftRadius,
            borderBottomRightRadius: val.borderBottomRightRadius, boxShadow: val.boxShadow,
            textShadow: val.textShadow, transition: val.transition, transform: val.transform, columnCount: val.columnCount,
            opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform
        }" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)" @blur="updateText($event)">
        <div v-html="val.text"></div>
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'quote-comp'
export default {
  name: comp,
  setting: {
    title: 'Quote',
    icon: 'Asset-2584x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean velit dui, fermentum id facilisis sit amet, imperdiet ut est. Curabitur efficitur viverra nunc, et dignissim justo sodales ut. Mauris facilisis sit amet justo at rutrum.',
    width: 'auto',
    height: 'auto',
    minWidth: '100px',
    minHeight: '30px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    color: '#000000',
    fontSize: '15px',
    fontStyle: 'normal',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '0px',
    borderRightWidth: '0px',
    borderBottomWidth: '0px',
    borderLeftWidth: '5px',
    borderStyle: 'solid',
    borderColor: '#f10ff1d4',
    borderTopLeftRadius: '0px',
    borderTopRightRadius: '0px',
    borderBottomLeftRadius: '0px',
    borderBottomRightRadius: '0px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'text',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '30px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      fontStyle: 'normal',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '5px',
      borderStyle: 'solid',
      borderColor: '#f10ff1d4',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'text',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '30px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      color: '#000000',
      fontSize: '15px',
      fontStyle: 'normal',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '0px',
      borderRightWidth: '0px',
      borderBottomWidth: '0px',
      borderLeftWidth: '5px',
      borderStyle: 'solid',
      borderColor: '#f10ff1d4',
      borderTopLeftRadius: '0px',
      borderTopRightRadius: '0px',
      borderBottomLeftRadius: '0px',
      borderBottomRightRadius: '0px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'text',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    }
  },
  data() {
    return {
      over: false
    }
  },
  props: ['val'],
  mounted() {
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    },
    updateText(e) {
      let text = document.getElementById(this.val.uuid).querySelector('div').innerHTML
      this.$store.commit('updateData', {id: this.val.uuid, key: 'text', value: text})
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
