<template>
    <div>
        <app-side-bar-nav></app-side-bar-nav>
        <!--tools side bare -->
        <app-tools-side-bar></app-tools-side-bar>
        <app-page-drawer></app-page-drawer>
        <app-media-drawer></app-media-drawer>
        <uploader></uploader>
        <div class="main-creator" :class="{over}" @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false" @drop.prevent.stop="drop($event)">
          <component :is="val.type" :class="val.uuid === id ? 'comp-active': ''" :val="val" :data-type="val.type" :data-uuid="val.uuid" v-for="(val, key) in widgetStore" :key="key">
          </component>
        </div>
    </div>
</template>

<script>
import appSideBarNav from '../components/app-side-bar-nav/index.vue'
import appToolsSideBar from '../components/app-tools-side-bar/index.vue'
import appPageDrawer from '../components/app-page-drawer/index.vue'
import appMediaDrawer from '../components/app-media-drawer/index.vue'
import uploader from '../components/widgets/uploader.vue'
export default {
  data () {
    return {
      over: false
    }
  },
  computed: {
    widgetStore () {
      return this.$store.state.widgets.filter(i => i.parent === 'page')
    },
    id () {
      return this.$store.state.uuid
    }
  },
  mounted () {
    document.querySelector('.main-creator').addEventListener('click', this.handleSelection, false)
  },
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {

      } else {
        if (data.state) {
          this.$store.dispatch('updateWidget', { item: data.data, parent: 'page', where: null})
        } else {
          this.$store.dispatch('addWidget', { item: data.data, parent: 'page', childItems: data.childItems})
        }
      }
    },
    handleSelection (e) {
      var target = e.target
      var type = target.getAttribute('data-type')
      if (type) {
        var uuid = target.getAttribute('data-uuid')
        this.$store.commit('select', {
          uuid: uuid || -1
        })
      }
    }
  },
  components: {
    appSideBarNav,
    appToolsSideBar,
    appPageDrawer,
    appMediaDrawer,
    uploader
  }
}
</script>

<style>
</style>
