<template>
    <div class="project-space opening">
      <div class="project-intro-view">
        <a href="#" class="pro-plan w-inline-block">
          <div class="pro-pack-title w-clearfix">
            <div class="pro-plan-titile">Upgrade to Pro Plan</div>
            <div class="pro-plan-titile dollar">$9 / month</div>
          </div>
          <p class="paragrph">Unlock all the features and more with the Pixel Family. Create, Share and Collaborate
            entirely on the cloud.</p>
          <div class="bnt-no-link">
            <div>Learn More</div>
          </div>
        </a>
        <div data-animation="slide" data-duration="500" data-infinite="1" class="intro-slider w-slider">
          <div class="mask w-slider-mask" style="z-index: 5">
            <div class="slide w-slide" :class="slide != 0 ? 'slide-to' : ''">
              <h3 class="welcome">Welcome to Pixel <span class="text-span-7">Creator</span></h3><img
              src="@/assets/images/pixel-creator-logo-fav-lg-2-fav-big.png" width="22" sizes="(max-width: 479px) 28vw, 22px" class="logo-header">
              <div class="w-row">
                <div class="w-col w-col-4">
                  <a href="#" class="intro-container w-inline-block slide3">
                    <img src="@/assets/images/pixel-creator-screenshot29.png" sizes="(max-width: 479px) 100vw, (max-width: 767px) 61vw, (max-width: 991px) 20vw, 22vw" class="@/assets/ge-start">
                  <div class="div-block-7 w-clearfix">
                    <div class="text-block-11">Getting started with Pixel Creator</div>
                    <h4 class="intro-title-sub">The Unique Power of the Creator</h4><img
                    src="@/assets/images/Asset-334x.png" width="16" class="link-out-logo"></div>
                </a></div>
                <div class="w-col w-col-4">
                    <a href="#" class="intro-container w-inline-block slide1">
                        <img src="@/assets/images/demo6.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 61vw, (max-width: 991px) 20vw, 22vw" class="@/assets/ge-start">
                        <div class="div-block-7 w-clearfix">
                            <div class="text-block-11">Starting a Creative Project</div>
                            <h4 class="intro-title-sub">Dream it. Make it.</h4>
                            <img src="@/assets/images/Asset-334x.png" width="16" class="link-out-logo">
                        </div>
                    </a>
                </div>
                <div class="w-col w-col-4">
                  <div class="intro-title slide2">
                    <img src="@/assets/images/windows.svg" width="30" class="making-image">
                    <h5 class="start-new-proejct">What type of Project are you Building?</h5>
                    <div>
                      <a href="#" class="intro-project-select coming-soon w-inline-block">
                          <img src="@/assets/images/Asset-1074x.png" width="15" class="project-select-icon">
                          <div class="project-select-text">Mobile App</div>
                      </a>
                      <a href="#" class="intro-project-select w-inline-block"  @click="ChangeSlider()">
                          <img src="@/assets/images/Asset-1064x.png" width="16" class="project-select-icon">
                          <div class="project-select-text">Web Project</div>
                      </a>
                      <a href="#" class="intro-project-select coming-soon w-inline-block">
                          <img src="@/assets/images/envelope11.png" width="15" class="project-select-icon">
                          <div class="project-select-text">Newsletter</div>
                      </a>
                      <a href="#" class="intro-project-select coming-soon w-inline-block">
                          <img src="@/assets/images/Asset-1084x.png" width="15" class="project-select-icon">
                          <div class="project-select-text">VR</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-2 w-slide" :class="slide != 0 ? 'slide-to' : ''">
              <div class="project-selector">
                <div class="w-row">
                  <div class="w-col w-col-6">
                    <div class="blank-start">
                      <h5 class="start-new">Start with a Blank Canvas</h5>
                      <router-link to="/creator" class="go-bnt w-inline-block">
                        <div class="plus-sign-fade">
                          <div class="plus-bn">+</div>
                        </div>
                      </router-link>
                    </div>
                  </div>
                  <div class="w-col w-col-6">
                    <a href="#" class="addnew-project w-inline-block" data-ix="modalpop-up">
                      <div class="plus-sign">+</div>
                      <h5>Import an existing file</h5>
                      <div class="file-type1">
                        <img src="@/assets/images/html.png" class="file-type large">
                        <img src="@/assets/images/pixel-creator-logo-fav-lg-2-fav-big.png" sizes="(max-width: 479px) 56vw, 40px" class="file-type large">
                        <img src="@/assets/images/figma-logo.jpg" sizes="(max-width: 479px) 48vw, 30px" class="file-type fade-no-access">
                        <img src="@/assets/images/app-icon2x-1.png" class="file-type fade-no-access">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="left-arrow w-slider-arrow-left"></div>
          <div class="right-arrow w-slider-arrow-right"></div>
          <div class="slide-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0
    }
  },
  methods: {
    ChangeSlider () {
      this.slide = 1
    }
  }
}
</script>

<style>
</style>
