<template>
    <ul class="list comp" v-if="val.unordered" :id="val.uuid"
        :style="{
            width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, maxWidth: val.maxWidth,
            maxHeight: val.maxHeight, position: val.position, top: val.top, left: val.left, bottom: val.bottom, right: val.right, display: val.display,
            marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom, marginLeft: val.marginLeft,
            float: val.float, clear: val.clear, overflow: val.overflow, fontKerning: val.fontKerning, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontColor: val.fontColor, fontSize: val.fontSize, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage: val.backgroundImage,
            backgroundColor: val.backgroundColor, direction: val.direction, borderStyle: val.borderStyle, borderColor: val.borderColor,
            borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth,
            borderLeftWidth: val.borderLeftWidth, borderTopLeftRadius: val.borderTopLeftRadius, borderTopRightRadius: val.borderTopRightRadius,
            borderBottomLeftRadius: val.borderBottomLeftRadius, borderBottomRightRadius: val.borderBottomRightRadius, fontStyle: val.fontStyle,
            boxShadow: val.boxShadow, textShadow: val.textShadow, transition: val.transition, transform: val.transform,
            opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform, columnCount: val.columnCount
        }" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
        <li :contenteditable="$store.state.isEdit ? 'true' : 'false'" v-for="(item, i) in val.items" :key="i" :style="{
          paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft
        }" @blur="updateItem($event, i)">
          {{item}}<i class="fa fa-trash float-right" @click="$store.state.activeWidget.items.splice(i,1)" contenteditable="false" v-if="$store.state.isEdit"></i>
        </li>
        <tool-bar :uuid="val.uuid"></tool-bar>
    </ul>
    <ol class="list comp" v-else :id="val.uuid"
      :style="{
        width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight, maxWidth: val.maxWidth,
            maxHeight: val.maxHeight, position: val.position, top: val.top, left: val.left, bottom: val.bottom, right: val.right, display: val.display,
            marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom, marginLeft: val.marginLeft,
            float: val.float, clear: val.clear, overflow: val.overflow, fontKerning: val.fontKerning, fontFamily: val.fontFamily,
            fontWeight: val.fontWeight, fontColor: val.fontColor, fontSize: val.fontSize, lineHeight: val.lineHeight, textIndent: val.textIndent,
            textAlign: val.textAlign, textDecoration: val.textDecoration, backgroundImage: val.backgroundImage,
            backgroundColor: val.backgroundColor, direction: val.direction, borderStyle: val.borderStyle, borderColor: val.borderColor,
            borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth, borderBottomWidth: val.borderBottomWidth,
            borderLeftWidth: val.borderLeftWidth, borderTopLeftRadius: val.borderTopLeftRadius, borderTopRightRadius: val.borderTopRightRadius,
            borderBottomLeftRadius: val.borderBottomLeftRadius, borderBottomRightRadius: val.borderBottomRightRadius, fontStyle: val.fontStyle,
            boxShadow: val.boxShadow, textShadow: val.textShadow, transition: val.transition, transform: val.transform,
            opacity: val.opacity, cursor: val.cursor, zIndex: val.zIndex, textTransform: val.textTransform, columnCount: val.columnCount
        }" :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
      <li :contenteditable="$store.state.isEdit ? 'true' : 'false'" v-for="(item, i) in val.items" :key="i" :style="{
        paddingTop: val.paddingTop, paddingRight: val.paddingRight, paddingBottom: val.paddingBottom, paddingLeft: val.paddingLeft
      }" @blur.stop="updateItem($event, i)">
          {{item}}<i class="fa fa-trash float-right" @click="$store.state.activeWidget.items.splice(i,1)" contenteditable="false" v-if="$store.state.isEdit"></i>
        </li>
      <tool-bar :uuid="val.uuid"></tool-bar>
    </ol>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'list-comp'
export default {
  name: comp,
  setting: {
    title: 'List',
    icon: 'Asset-2644x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    width: 'auto',
    height: 'auto',
    minWidth: '100px',
    minHeight: '50px',
    maxWidth: 'auto',
    maxHeight: 'auto',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '20px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    fontStyle: 'normal',
    fontColor: '#000000',
    fontSize: '15px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '1px',
    borderRightWidth: '1px',
    borderBottomWidth: '1px',
    borderLeftWidth: '1px',
    borderStyle: 'solid',
    borderColor: '#cccccc',
    borderTopLeftRadius: '1px',
    borderTopRightRadius: '1px',
    borderBottomLeftRadius: '1px',
    borderBottomRightRadius: '1px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    unordered: 1,
    items: ['Apple', 'Pear', 'Peach', 'Banana'],
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '50px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '20px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      fontColor: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '1px',
      borderTopRightRadius: '1px',
      borderBottomLeftRadius: '1px',
      borderBottomRightRadius: '1px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto',
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '100px',
      minHeight: '50px',
      maxWidth: 'auto',
      maxHeight: 'auto',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '20px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      fontColor: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#cccccc',
      borderTopLeftRadius: '1px',
      borderTopRightRadius: '1px',
      borderBottomLeftRadius: '1px',
      borderBottomRightRadius: '1px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto',
    }
  },
  data () {
    return {
      over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      console.log(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    },
    updateItem(e,i) {
      // this.$store.state.activeWidget.items[i] = e.target.innerText
      let id = this.$store.state.widgets.findIndex(i => i.uuid === this.val.uuid)
      console.log(id, i)
      this.$store.state.widgets[id][i] = e.target.innerText
    }
  },
  components: {
    toolBar
  }
}
</script>

<style scoped>
  ul > li:focus, ul > li:active, ul > li:focus-within, ul > li:hover, ul > li:visited {
    border: 1px solid #009eef;
    border-radius: 5px;
  }
  ul > li {
    margin: 5px;
  }
</style>
