<template>
    <div class="toolbar" v-if="uuid === activeWidget.uuid">
        <button draggable="true" @dragstart="widgetMove($event)" class="tooltip"><i class="fas fa-arrows-alt"></i>
          <div class="toolbar-tooltip">
            <div>Move</div>
          </div>
        </button>
        <button draggable="true" @dragstart="widgetSort($event)" class="tooltip"><i class="fas fa-layer-group"></i>
          <div class="toolbar-tooltip">
            <div>Sort</div>
          </div>
        </button>
        <button @click="widgetClone()" class="tooltip"><i class="fa fa-clone"></i>
          <div class="toolbar-tooltip">
            <div>Clone</div>
          </div>
        </button>
        <button @click="widgetRemove()" class="tooltip"><i class="fa fa-trash"></i>
          <div class="toolbar-tooltip">
            <div>Delete</div>
          </div>
        </button>
        <button @click="activeWidget.unordered = 0" class="tooltip"><i class="fas fa-list-ol"></i>
          <div class="toolbar-tooltip">
            <div>Unordered</div>
          </div>
        </button>
        <button @click="activeWidget.unordered = 1" class="tooltip"><i class="fas fa-list-ul"></i>
          <div class="toolbar-tooltip">
            <div>Ordered</div>
          </div>
        </button>
        <button @click.stop="addItem()" class="tooltip"><i class="fa fa-plus"></i>
          <div class="toolbar-tooltip">
            <div>Add Item</div>
          </div>
        </button>
    </div>
</template>

<script>
export default {
  props: ['uuid'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  computed: {
    activeWidget() {
      return this.$store.state.activeWidget
    }
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1,  isSort: 0}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = {data: this.activeWidget, state: 1, isSort: 1}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    addItem() {
      document.addEventListener('blur', function() {
      }, false)
      this.activeWidget.items.push('')
    }
  }
}
</script>

<style scoped>
</style>
