<template>
    <div v-if="id === activeWidget.uuid" contenteditable="false">
      <div v-if="section == 1" class="toolbar">
        <button draggable="true" @dragstart="widgetMove($event)" class="tooltip"><i class="fas fa-arrows-alt"></i>
          <div class="toolbar-tooltip">
            <div>Move</div>
          </div>
        </button>
        <button draggable="true" @dragstart="widgetSort($event)" class="tooltip"><i class="fas fa-layer-group"></i>
          <div class="toolbar-tooltip">
            <div>Sort</div>
          </div>
        </button>
        <button @click="widgetClone()" class="tooltip"><i class="fa fa-clone"></i>
          <div class="toolbar-tooltip">
            <div>Clone</div>
          </div>
        </button>
        <button @click="widgetRemove()" class="tooltip"><i class="fa fa-trash"></i>
          <div class="toolbar-tooltip">
            <div>Delete</div>
          </div>
        </button>
        <button @click.stop="section = 2" class="tooltip"><i class="fa fa-link"></i>
          <div class="toolbar-tooltip">
            <div>Add Link</div>
          </div>
        </button>
      </div>
      <div v-else-if="section === 2" class="toolbar link">
        <input type="text" v-model="$store.state.activeWidget.href" placeholder="http://www.pixelcreator"/>
        <button @click="section = 1">done</button>
      </div> 
    </div>
</template>

<script>
export default {
  data() {
    return {
      section: 1
    }
  },
  props: ['id'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1 }
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = {data: this.activeWidget, state: 1, isSort: 1}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    },
    
  }
}
</script>

<style scoped>
 
</style>
