<template>
    <div class="toolbar" v-if="id === activeWidget.uuid">
        <button draggable="true" @dragstart="widgetMove($event)" class="tooltip"><i class="fas fa-arrows-alt"></i>
          <div class="toolbar-tooltip">
            <div>Move</div>
          </div>
        </button>
        <button draggable="true" @dragstart="widgetSort($event)" class="tooltip"><i class="fas fa-layer-group"></i>
          <div class="toolbar-tooltip">
            <div>Sort</div>
          </div>
        </button>
        <button @click="widgetClone()" class="tooltip"><i class="fa fa-clone"></i>
          <div class="toolbar-tooltip">
            <div>Clone</div>
          </div>
        </button>
        <button @click="widgetRemove()" class="tooltip"><i class="fa fa-trash"></i>
          <div class="toolbar-tooltip">
            <div>Delete</div>
          </div>
        </button>
    </div>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    activeWidget () {
      return this.$store.state.activeWidget
    }
  },
  methods: {
    widgetMove (e) {
      let item = { data: this.activeWidget, state: 1,  isSort: 0}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetSort (e) {
      let item = {data: this.activeWidget, state: 1, isSort: 1}
      e.dataTransfer.setData('item', JSON.stringify(item))
    },
    widgetClone () {
      this.$store.commit('clone')
    },
    widgetRemove () {
      this.$store.commit('remove')
    }
  }
}
</script>

<style scoped>
</style>
