<template>
    <div class="input comp" :style="{width: val.width, height: val.height, minWidth: val.minWidth, minHeight: val.minHeight,
        maxWidth: val.maxWidth, maxHeight: val.maxHeight, position: val.position,top: val.top, left: val.left, bottom: val.bottom, right: val.right,
        display: val.display,marginTop: val.marginTop, marginRight: val.marginRight, marginBottom: val.marginBottom,
        marginLeft: val.marginLeft, zIndex: val.zIndex, float: val.float, clear: val.clear}"
        :class="{over}"  @dragover.prevent.stop="over = true" @dragleave.prevent.stop="over = false"	@drop.prevent.stop="drop($event)">
        <input type="text" :style="{width: '100%', height: '100%', minWidth: val.minWidth, minHeight: val.minHeight,
            paddingTop: val.paddingTop,paddingRight: val.paddingRight, paddingBottom: val.paddingBottom,
            paddingLeft: val.paddingLeft,overflow: val.overflow, fontFamily: val.fontFamily, fontKerning: val.fontKerning,
            fontWeight: val.fontWeight, fontColor: val.fontColor, fontSize: val.fontSize,
            lineHeight: val.lineHeight, textIndent: val.textIndent, textAlign: val.textAlign,
            textDecoration: val.textDecoration, backgroundImage:'url(' + val.backgroundImage + ')',
            backgroundColor: val.backgroundColor, direction: val.direction, textTransform: val.textTransform,
            borderColor: val.borderColor, borderStyle: val.borderStyle, fontStyle: val.fontStyle,
            borderTopWidth: val.borderTopWidth, borderRightWidth: val.borderRightWidth,
            borderBottomWidth: val.borderBottomWidth, borderLeftWidth: val.borderLeftWidth,
            borderTopLeftRadius: val.borderTopLeftRadius, borderTopRightRadius: val.borderTopRightRadius,
            borderBottomLeftRadius: val.borderBottomLeftRadius, borderBottomRightRadius: val.borderBottomRightRadius,
            boxShadow: val.boxShadow, textShadow: val.textShadow, transition: val.transition, columnCount: val.columnCount,
            transform: val.transform, opacity: val.opacity, cursor: val.cursor
        }" placeholder="This is a text">
        <tool-bar :id="val.uuid"></tool-bar>
    </div>
</template>

<script>
import toolBar from './toolbar.vue'
const comp = 'input-comp'
export default {
  name: comp,
  setting: {
    title: 'Input',
    icon: 'Asset-2504x.png',
    type: comp,
    state: 0,
    isContainer: true,
    isUpload: false,
    isChild: true,
    dragable: true,
    resizable: true,
    width: 'auto',
    height: 'auto',
    minWidth: '250px',
    minHeight: '40px',
    maxWidth: '100%',
    maxHeight: '100%',
    position: 'relative',
    top: 'auto',
    left: 'auto',
    bottom: 'auto',
    right: 'auto',
    display: 'inline-block',
    paddingTop: '10px',
    paddingRight: '10px',
    paddingBottom: '10px',
    paddingLeft: '10px',
    marginTop: '10px',
    marginRight: '10px',
    marginBottom: '10px',
    marginLeft: '10px',
    float: 'none',
    clear: 'none',
    overflow: 'none',
    fontFamily: '',
    fontKerning: 'normal',
    fontWeight: 500,
    fontStyle: 'normal',
    color: '#000000',
    fontSize: '15px',
    lineHeight: 1,
    textIndent: '0px',
    textAlign: 'left',
    textDecoration: 'none',
    backgroundImage: '',
    backgroundColor: '#ffffff',
    direction: 'ltr',
    borderTopWidth: '1px',
    borderRightWidth: '1px',
    borderBottomWidth: '1px',
    borderLeftWidth: '1px',
    borderStyle: 'solid',
    borderColor: '#ced4da',
    borderTopLeftRadius: '5px',
    borderTopRightRadius: '5px',
    borderBottomLeftRadius: '5px',
    borderBottomRightRadius: '5px',
    boxShadow: '0px 0px 0px 0px #cccccc',
    textShadow: '0px 0px 0px #cccccc',
    transition: '',
    transform: '',
    opacity: 1,
    cursor: 'pointer',
    zIndex: 0,
    textTransform: 'lowercase',
    columnCount: 'auto',
    hoverStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '250px',
      minHeight: '40px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#ced4da',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    },
    focusStyle: {
      width: 'auto',
      height: 'auto',
      minWidth: '250px',
      minHeight: '40px',
      maxWidth: '100%',
      maxHeight: '100%',
      position: 'relative',
      top: 'auto',
      left: 'auto',
      bottom: 'auto',
      right: 'auto',
      display: 'inline-block',
      paddingTop: '10px',
      paddingRight: '10px',
      paddingBottom: '10px',
      paddingLeft: '10px',
      marginTop: '10px',
      marginRight: '10px',
      marginBottom: '10px',
      marginLeft: '10px',
      float: 'none',
      clear: 'none',
      overflow: 'none',
      fontFamily: '',
      fontKerning: 'normal',
      fontWeight: 500,
      fontStyle: 'normal',
      color: '#000000',
      fontSize: '15px',
      lineHeight: 1,
      textIndent: '0px',
      textAlign: 'left',
      textDecoration: 'none',
      backgroundImage: '',
      backgroundColor: '#ffffff',
      direction: 'ltr',
      borderTopWidth: '1px',
      borderRightWidth: '1px',
      borderBottomWidth: '1px',
      borderLeftWidth: '1px',
      borderStyle: 'solid',
      borderColor: '#ced4da',
      borderTopLeftRadius: '5px',
      borderTopRightRadius: '5px',
      borderBottomLeftRadius: '5px',
      borderBottomRightRadius: '5px',
      boxShadow: '0px 0px 0px 0px #cccccc',
      textShadow: '0px 0px 0px #cccccc',
      transition: '',
      transform: '',
      opacity: 1,
      cursor: 'pointer',
      zIndex: 0,
      textTransform: 'lowercase',
      columnCount: 'auto'
    }
  },
  data() {
    return {
      over: false
    }
  },
  props: ['val'],
  methods: {
    drop (e) {
      this.over = false
      let data = e.dataTransfer.getData('item')
      if (data === '' || data === undefined) return
      data = JSON.parse(data)
      if (data.isSort) {
        this.$store.commit('sortWidget', {item:data.data, after: this.val});
      }
    }
  },
  components: {
    toolBar
  }
}
</script>

<style>

</style>
