<template>
    <div class="media-drawer" v-if="$store.state.showMediaDrawer">
        <div class="media-tool-bar">
            <div class="w-row">
            <div class="w-col w-col-4">
                <div>
                <a href="#" class="slide-name-close-bnt w-inline-block" @click="$store.state.showMediaDrawer = 0">
                    <div class="cabinate-title">Media</div>
                    <img src="@/assets/images/x-close-icon.svg" class="close-invert-bnt"></a>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-8">
                <div class="add-new-page w-clearfix">
                <div class="content-tool-bar">
                    <div class="tool-bar-instructions">Content Edit:</div>
                    <a href="#" class="symbol-button w-inline-block"><img src="@/assets/images/copy.svg" class="symbol-icon"></a><a
                    href="#" class="symbol-button w-inline-block"><img src="@/assets/images/Asset-654x.png"></a></div>
                <a href="#" class="add-new-bnt w-inline-block"><img src="@/assets/images/Asset-604x.png" width="14">
                    <div class="add-more-text">Upload Media</div>
                </a><a href="#" class="add-new-bnt new-folder w-inline-block"><img src="@/assets/images/Asset-604x.png"
                                                                                    width="14">
                <div class="add-more-text">New Folder</div>
                </a></div>
            </div>
            </div>
        </div>
        <div>
            <div class="w-row">
            <div class="w-col w-col-9">
                <div class="media-selction"><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img
                src="@/assets/images/11.png" class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">June-Name</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-4" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/16.png"
                                                                                                    srcset="@/assets/images/16-p-500.png 500w, @/assets/images/16.png 504w"
                                                                                                    sizes="100vw"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">June-Name</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/13.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Book-altono</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/13.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Almost-home</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/17.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Hasher-nasher</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/15.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Finder-Dokdoack</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/9.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Litle-man-hike</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/10.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/7.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/8.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/5.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/4.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/6.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">butterfly-clutie</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a><a href="#" class="media-single w-inline-block" data-ix="media-tool-reveal"><img src="@/assets/images/1.png"
                                                                                                    class="media-image-signle">
                <div class="media-name-signel">
                    <div class="preview-pagen-title">Boks-fire-club</div>
                    <div>Junedel.jpg</div>
                </div>
                <div class="media-select-tool" data-ix="meida-select-toolshide">
                    <div class="w-form">
                    <form id="email-form-6" name="email-form-6" data-name="Email Form 6">
                        <div class="checkbox-field w-clearfix w-checkbox"><input type="checkbox" id="checkbox-4"
                                                                                name="checkbox-4"
                                                                                data-name="Checkbox 4"
                                                                                class="checkbox-2 w-checkbox-input"><label
                        for="checkbox-5" class="checkbox-label w-form-label">Delete</label></div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                    </div>
                </div>
                </a></div>
            </div>
            <div class="w-col w-col-3">
                <div class="preview-pane">
                <div class="preview-image-pane"><img src="@/assets/images/Asset-774x.png" width="50"
                                                    srcset="@/assets/images/Asset-774x-p-500.png 500w, @/assets/images/Asset-774x.png 723w"
                                                    sizes="100vw">
                    <div>Select anassets/ge</div>
                </div>
                <a href="#" class="preview-pane-download w-inline-block"><img src="@/assets/images/download.svg" width="15"
                                                                                class="symbol-icon">
                    <div class="downlad-tag">Download</div>
                </a>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Created</div>
                    <div class="preview-pagen-title stat">June 10th, 2018</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Modified</div>
                    <div class="preview-pagen-title stat">July 22, 2018</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Filesize</div>
                    <div class="preview-pagen-title stat">243 KB</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Width</div>
                    <div class="preview-pagen-title stat">324</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Height</div>
                    <div class="preview-pagen-title stat">600</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">File Name</div>
                    <div class="preview-pagen-title stat">Junedel.pgm</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Alt Text</div>
                    <div class="preview-pagen-title stat">June-Name</div>
                </div>
                <div class="preview-pane-details w-clearfix">
                    <div class="preview-pagen-title">Author</div>
                    <div class="preview-pagen-title stat">Tayler Od</div>
                    <img src="@/assets/images/face21.jpg" class="author-file-user"></div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
</style>
