<template>
  <div id="app">
    <app-store></app-store>
    <app-header></app-header>
    <router-view></router-view>
    <app-bottom-toolbar></app-bottom-toolbar>
    <app-chat-modal></app-chat-modal>
    <app-export-modal></app-export-modal>
    <app-coming-soon-modal></app-coming-soon-modal>
  </div>
</template>
<script>
import './assets/css/components.css'
import './assets/css/normalize.css'
import './assets/css/pixelcreatorbuilder.css'
import appStore from './components/app-store/index.vue'
import appHeader from './components/app-header/index.vue'
import appBottomToolbar from './components/app-bottom-toolbar/index.vue'
import appChatModal from './components/modal/app-chat-modal.vue'
import appExportModal from './components/modal/app-export-modal.vue'
import appComingSoonModal from './components/modal/app-coming-soon-modal.vue'
// import widgets from './components/widgets'
export default {
  data () {
    return {
    }
  },
  created () {
  },
  components: {
    appStore,
    appHeader,
    appBottomToolbar,
    appChatModal,
    appExportModal,
    appComingSoonModal
  }
}
</script>

<style>
</style>
