<template>
    <div class="app-bottom-toolbar">
        <div class="center-apps">
            <div class="container w-container">
            <div class="app-container-header">
                <div>Manage Project Apps</div>
            </div>
            <a href="#" class="app-container-signel w-inline-block tooltip" @click="$store.state.showAppStore = 1">
                <img src="@/assets/images/pixel-apps-logo-move.png" class="app-single">
                <div class="app-name light tooltip-up-text">
                <div>App Store</div>
                </div>
            </a>
            <a href="#" class="app-container-signel w-inline-block tooltip" @click="$store.state.showAppStore = 1">
                <img src="@/assets/images/figma-logo.jpg" sizes="(max-width: 479px) 100vw, 60px" class="app-single">
                <div class="app-on"></div>
                <div class="app-name tooltip-up-text">
                    <div>Figma</div>
                </div>
            </a>
            <a href="#" class="app-container-signel w-inline-block tooltip" @click="$store.state.showAppStore = 1">
                <img src="@/assets/images/js.jpg" sizes="(max-width: 479px) 100vw, 60px" class="app-single">
                <div class="app-name tooltip-up-text">
                    <div>Java Script (Portal)</div>
                </div>
            </a>
            <a href="#" class="add-app-modal-view w-inline-block tooltip">
                <div>+</div>
            </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
</style>
