<template>
    <div class="app-nav-left w-clearfix">
        <a href="#" class="app-tool-bar-link-left active w-inline-block">
            <div class="active-state-text">Designer</div>
            <div class="notification-state"></div>
        </a>
        <a class="app-tool-bar-link-left center resize w-inline-block" style="padding:4px;" @click="$store.state.showComingSoonModal = 1">
            <div class="active-state-text">Code</div>
            <div class="notification-state"></div>
        </a>
        <a href="#" class="app-tool-bar-link-left right w-inline-block" @click="$store.state.showComingSoonModal = 1">
            <div class="active-state-text">Interactions</div>
        </a>
        <!-- <a href="#" class="app-tool-bar-link-left global-style w-inline-block" @click="$store.state.showComingSoonModal = 1">
            <div class="active-state-text">Componets</div>
        </a>
        <a class="app-tool-bar-link-left global-style w-inline-block" data-ix="big-global-reveal1">
            <div class="active-state-text">Global Styles</div>
        </a> -->
    </div>
</template>
<script>
export default {

}
</script>
<style>
    .app-nav-left {
    max-width: 40vw;
    margin-right: -9vw;
    }
    .app-tool-bar-link-left {
    max-width: 5vw;
    font-size: 0.6vw;
    }
</style>
