<template>
    <div class="pub">
        <div class="publish-bnt1 w-clearfix">
            <a href="#" class="add-bnt publish w-inline-block"
            @click="$store.state.showPublishMenu = !$store.state.showPublishMenu">
            <img src="@/assets/images/upload.svg" width="17" class="button-icon publish">
            <div class="text-block-10"><span class="published">Published: </span><span class="publish-time">Last May 8, 2018</span></div>
            </a>
        </div>

        <!--ONLINE USERS COMPONENT-->
        <!-- <div class="users-online">
            <img src="@/assets/images/profile-for-everything3.png"
                srcset="@/assets/images/profile-for-everything3-p-500.png 500w, @/assets/images/profile-for-everything3-p-800.png 800w, @/assets/images/profile-for-everything3.png 979w"
                sizes="(max-width: 767px) 100vw, 34px" class="user-avatar online">
            <img src="@/assets/images/face23.jpg" class="user-avatar">
        </div> -->
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .pub {
    margin-left: -2vw !important;
    }
    .publish-bnt1 {
    max-width: 15vw;
    }
    .published {
    font-size: 0.8vw;
    }
    .publish-time {
    font-size: 0.5vw;
    }
    .users-online img {
    max-width: 2vw;
    max-height: 2vw;
    }
</style>
