<template>
    <div>
        <div class="app-menu-container w-clearfix">
            <a href="#" class="add-bnt save1 w-inline-block tooltip" @click="$store.state.showExportModal = 1">
                <img src="@/assets/images/Asset-404x.png" width="15" srcset="@/assets/images/Asset-404x-p-500.png 500w, @/assets/images/Asset-404x.png 750w"
                sizes="(max-width: 767px) 100vw, 20.73750114440918px" class="borader-select">
                <div class="menu-note tooltip-down-text">
                    <div>Export</div>
                </div>
            </a>
            <div class="app-menu-container w-clearfix"><div class="text-block-14">Module</div></div>
        </div>
        <div class="viewingOpts">
            <div class="app-menu-container w-clearfix" style="margin-right: 20px;">
                <div class="text-block-14">{{viewOptions.label}}</div>
                <a href="#" class="add-bnt save1 w-inline-block tooltip" v-for="(item, j) in viewOptions.content" :key="j">
                    <img :src="require(`@/assets/images/${item.img}`)" width="14" :class="item.class">
                    <div class="menu-note tooltip-down-text">
                        <div>{{item.title}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      viewOptions: {
        label: 'Previews',
        content: [
          { title: 'Previews', img: 'Asset-114x.png', class: 'borader-select long' },
          { title: 'Desktop View', img: 'Asset-344x.png', class: 'borader-select' },
          { title: 'Tablet View', img: 'Asset-354x.png', class: 'borader-select' },
          { title: 'Phone View', img: 'Asset-364x.png', class: 'borader-select phone-rotate' },
          { title: 'Phone View', img: 'Asset-364x.png', class: 'borader-select' }
        ]
      }
    }
  },
  methods: {

  }
}
</script>

<style>
    .viewingOpts {
        margin-left: -7vw !important;
    }
    .app-menu-container  {
        margin-left: -0.5vw;
        margin-right: -0.5vw;
    }
</style>
