<template>
    <div class="publishing-ftp" :class="$store.state.showPublishMenu == 0 ? 'publishing-ftp-hide': 'publishing-ftp-show'">
        <div>
            <div class="w-form">
            <form id="email-form-3" name="email-form-3" data-name="Email Form 3">
                <label for="name-8" class="field-lable">Publish with Pixel</label>
                <a href="#" class="publish-bnt w-inline-block">
                    <div>Host with Pixel</div>
                </a>
                <div class="connect-to-check w-checkbox">
                    <input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="checkbox w-checkbox-input">
                    <label for="checkbox-3" class="form-title w-form-label">Publish with Pixel Hosting</label>
                    <div>
                        <div class="field-note">helloworld.com</div>
                        <a href="#" class="link-out w-inline-block"><img src="@/assets/images/Asset-334x.png"></a>
                    </div>
                    <div>
                        <div class="field-note">helloworld.pixelcreator.co</div>
                        <a href="#" class="link-out w-inline-block"><img src="@/assets/images/Asset-334x.png"></a>
                    </div>
                </div>
                <div class="publish-contain">
                    <label for="name-7" class="field-lable">Connect To FTP Site (Upload to your Servers)</label>
                    <div class="connect-to-check w-checkbox">
                        <input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="checkbox w-checkbox-input">
                        <label for="checkbox" class="form-title w-form-label">Push To Custom Server (FTP)</label>
                        <div class="field-note">Undefined</div>
                        <a href="#" class="link-out w-inline-block"><img src="@/assets/images/Asset-334x.png"></a>
                    </div>
                    <label for="email">Add Connect to New FTP</label>
                    <input type="text" class="text-field long w-input" maxlength="256" name="name-7" data-name="Name 7" placeholder="Enter Host" id="name-7">
                    <input type="text" class="text-field long w-input" maxlength="256" name="name-7" data-name="Name 7" placeholder="Enter User" id="name-7">
                    <input type="text" class="text-field long w-input" maxlength="256" name="name-7" data-name="Name 7" placeholder="Enter Pass" id="name-7">
                    <input type="submit" value="Connect to Your FTP" data-wait="Please wait..." class="submit-button-5 w-button">
                    <input type="submit" value="Publish to Selectd Domains" data-wait="Please wait..." class="publish-bnt full w-button">
                </div>
            </form>
            <div class="success-message w-form-done">
                <img src="@/assets/images/pixel-logo.gif" width="49" class="pixel-loader">
                <div class="publishing-loading">Going Live...</div>
            </div>
            <div class="error-message w-form-fail">
                <div>Humm... Check Credentials</div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
</style>
